<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+TC:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <title>蝦皮切版</title>
</head>

<body>
    <div class="head-box">
        <div class="logo-box">
            <a href="#">
                <h4 class="logo">蝦皮商城</h4>
            </a>
        </div>

        <div class="icons">
            <div class="icon-item">
                <img src="./icon/15天鑑賞期.png" alt="">
                <p>
                    15天鑑賞期
                </p>
            </div>
            <div class="icon-item">
                <img src="./icon/安心退.png" alt="">
                <p>
                    蝦皮安心退
                </p>
            </div>
            <div class="icon-item">
                <img src="./icon/正品.png" alt="">
                <p>
                    正品保障
                </p>
            </div>
        </div>
        <div class="search-all">
            <a href="#">
                <p>
                    查看全部
                </p>
                <img src="./icon/arrow.png" alt="">
            </a>
        </div>

    </div>

    <!-- 下面區塊 -->
    <div class="content">
        <div class="main-Item">
            <img src="./img/L_largeIMG.png" alt="">
        </div>
        <div class="item-box">
            <div class="item">
                <a href="#">
                    <img src="./img/誠品.jpg" alt="">
                </a>
                <div class="item-text">
                    國際書展領券85折
                </div>
            </div>
            <div class="item">
                <a href="#">
                    <img src="./img/AHUA.jpg" alt="">
                </a>
                <div class="item-text">
                    滿299折$50
                </div>
            </div>
            <div class="item">
                <a href="#">
                    <img src="./img/coffe.jpg" alt="">
                </a>
                <div class="item-text">
                    全館47折up
                </div>
            </div>
            <div class="item">
                <a href="#">
                    <img src="./img/FL+.jpg" alt="">
                </a>
                <div class="item-text">

                    全館5折up
                </div>
            </div>
            <div class="item">
                <a href="#">
                    <img src="./img/skin1004.png" alt="">
                </a>
                <div class="item-text">
                    蝦幣最高30倍送
                </div>
            </div>
            <div class="item">
                <a href="#">
                    <img src="./img/神腦.png" alt="">
                </a>
                <div class="item-text">
                    最強3C領券再折
                </div>
            </div>
            <div class="item">
                <a href="#">
                    <img src="./img/雀巢.jpg" alt="">
                </a>
                <div class="item-text">
                    全店超商99免運
                </div>
            </div>
            <div class="item">
                <a href="#">
                    <img src="./img/飛利浦.jpg" alt="">
                </a>
                <div class="item-text">
                    盛大派駐關駐領券
                </div>
            </div>
        </div>
    </div>

</body>

</html>