header {
    background-color: #3d5a86;
    position: relative;
  }
  header .flx-row {
    display: flex;
    flex-direction: row;
  }
  header .jcb {
    justify-content: space-between;
  }
  
  .header-menu li,
  .header-menu a {
    color: #fff;
    text-decoration: none;
  }
  .header-menu i {
    font-size: 16px;
    line-height: 1.5em;
    color: #f28c78;
  }
  .header-menu a:hover {
    color: #efe3e1;
  }
  
  header .cart {
    position: relative;
  }
  
  header .cart-number {
    position: absolute;
    background-color: #fff;
    top: -5px;
    right: -10px;
    font-size: 12px;
    width: 1.5em;
    text-align: center;
    color: #dc9b8e;
  }
  
  header .sub-menu {
    display: none;
    position: absolute;
    z-index: 10;
    width: 150px;
    background-color: #3d5a86;
    text-align: center;
  }
  header .sub-menu li > a {
    display: block;
    border-bottom: 1px dotted #acb9cf;
  }
  header .sub-menu li:last-child > a {
    border-bottom: none;
  }
  header .sub-menu a:hover {
    background-color: #496786;
  }
  
  header .pofile {
    right: calc(20% - 150px);
  }
  header .pofile .pofile-pic > img {
    width: 25px;
    height: 25px;
    margin-right: 8px;
  }
  
  header .main-menu:hover .sub-menu {
    display: block;
  }
  
  @media screen and (max-width: 768px) {
    header .main-menu:hover {
      padding-bottom: 40px;
    }
  
    header .main-menu:hover .sub-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      top: 57.2226px;
      left: 0;
      background-color: #fff;
      padding-top: 0;
    }
    header .main-menu:hover .sub-menu li {
      flex-grow: 1;
    }
    header .main-menu:hover .sub-menu li + li {
      border-left: 1px solid #e0e2e7;
    }
    header .main-menu:hover .sub-menu li,
  header .main-menu:hover .sub-menu a {
      color: #496786;
    }
    header .main-menu:hover .sub-menu a:hover {
      background-color: #fff;
      color: #dc9b8e;
    }
  
    header .sub-menu li {
      color: #496786;
    }
    header .sub-menu li > a {
      border: none;
    }
  }
  @media screen and (max-width: 576px) {
    header .product-menu {
      display: none;
    }
  }