@import 'filter';
@import 'light_box';
@import '../_common/map_custom';
@import '../_common/layout.scss';
@import '../SearchBar/SearchBar';
a {
  text-decoration: none;
  color: #000;
  &:hover {
    color: #000;
  }
}

@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin pad-h {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin phone {
  @media (max-width: 420px) {
    @content;
  }
}
.full-container {
  position: relative;
  padding-bottom: 40px;
}
.container-set {
  position: relative;
  max-width: 1400px;
  margin: auto;
  padding: 0 60px;
  @include pad {
    padding: 20px;
  }
  .category-btn {
    border: 0;
  }
  .category-content {
    font-size: 12px;
    opacity: 0.5;
    transition: 0.3s;
    &:hover {
      opacity: 1;
    }
    .icon-container {
      padding: 10px;
      padding-bottom: 0;
    }
  }
}
.title-section {
  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 200;
  }
}
// swiper
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 18px;
}
.swiper.img-swiper {
  height: 100%;
}
@mixin swiper-button {
  content: '';
  left: 42%;
  top: 100%;
  width: 0;
  height: 0;
  clear: both;
  opacity: 0;
  transition: 0.3s;
}
.swiper-button-next:after {
  @include swiper-button;
  border-left: 16px solid #e8e8e8;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}
.swiper-button-prev:after {
  @include swiper-button;
  border-right: 16px solid #e8e8e8;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}
.swiper-pagination-bullet {
  background-color: rgb(230, 230, 230);
  &.swiper-pagination-bullet-active {
    background-color: rgb(245, 245, 245);
  }
}
.swiper-category {
  width: 90%;
  @include pad {
    width: 75%;
  }
  @include phone {
    width: 100%;
  }
}
.button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include phone {
    display: none;
  }
  .filter-button {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.329);
    transition: 0.3s;
    &:hover {
      border: 1px solid #222;
    }
    border-radius: 12px;
    margin: 0;
    appearance: none;
    min-width: 92px;
    height: 48px;
    color: #222;
    display: flex;
    align-items: center;
  }
}

//商品區
.item-section {
  .card-container {
    position: relative;
    &:hover {
      .swiper-button-prev:after,
      .swiper-button-next:after {
        opacity: 1;
      }
    }
  }
  .like-btn {
    width: 24px;
    height: 24px;
    position: absolute;
    left: auto;
    right: 20px;
    z-index: 2;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    transition: color 0.5s;
    &:hover {
      color: #ff708a;
    }
    &.like-check {
      color: #ff385c;
    }
  }
  .img-box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 20/19;
    margin-bottom: 12px;
    &.great-owner-marker::after {
      content: '超讚房東';
      padding: 3px 5px;
      position: absolute;
      left: 12px;
      top: 12px;
      width: auto;
      background-color: #fff;
      z-index: 1;
      border-radius: 5px;
      font-size: 15px;
      font-weight: 600;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      vertical-align: bottom;
    }
  }
  .info-group {
    .info {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      position: relative;
      span {
        display: block;
        line-height: 19px;
        font-weight: 600;
        &:last-child {
          position: absolute;
          left: auto;
          right: 0;
        }
      }
      .info-sub {
        color: #333;
        font-weight: 200;
      }
      .item-price {
        margin-top: 5px;
      }
    }
  }
}

.btn-map {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  width: 125px;
  height: 45px;
  border-radius: 30px;
  top: auto;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  background-color: #222;
  color: #e8e8e8;
  z-index: 4;
  @include pad{
    display: none;
  }
  &:hover,
  &:active {
    background-color: #e8e8e8;
  }
  &:focus {
    background-color: #222;
    color: #fff;
  }
  & > * {
    font-weight: 600;
    display: block;
    margin: 0;
  }
}

.map-section {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: -100vw;
  z-index: 3;
  transition: 0.5s ease-in-out;
  &.show {
    left: 0;
  }
}
#map {
  height: 100%;
  width: 100%;
}
footer {
  margin-top: 0;
  padding-top: 30px;
  .footer-bottom {
    padding: 15px 0;
  }
}
