@charset "UTF-8";
.detail-filter {
  padding: 15px;
}
.detail-filter .filter-title {
  font-size: 22px;
  font-weight: 600;
}
.detail-filter p {
  color: #717171;
}

@media (max-width: 500px) {
  .detail-group .group-section {
    padding: 10px 0;
  }
  .detail-group .group-section .detail-filter {
    padding: 0;
  }
}
.detail-group > section.group-section:last-child {
  border-bottom: 0;
}

.lightbox.filter .lightbox-container {
  overflow: hidden;
}
@media (max-width: 500px) {
  .lightbox.filter .lightbox-container {
    width: 100%;
    bottom: 0;
    transform: unset;
    left: 0;
    top: auto;
  }
}

.body-section {
  overflow-y: auto;
  height: 66vh;
  padding: 20px;
}
@media (max-width: 768px) {
  .body-section {
    height: 80%;
    max-height: 650px;
  }
}

.group-section {
  padding: 0;
}

.price-slider {
  height: 100px;
}
.price-slider input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}
.price-slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: rgb(119, 119, 119);
  cursor: pointer;
  border-radius: 50%;
  pointer-events: auto;
}
.price-slider .slider-track {
  width: 100%;
  height: 5px;
  background-color: #d5d5d5;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}

.price-input-group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.price-input-group input {
  width: 40%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid rgba(150, 150, 150, 0.5);
  position: relative;
}

.price-slider {
  position: relative;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .checkbox-group {
    display: block;
  }
}
.checkbox-group .checkbox-item {
  width: 48%;
  height: 45px;
  font-size: 18px;
  margin: 5px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .checkbox-group .checkbox-item {
    width: 100%;
  }
}
.checkbox-group .checkbox-item input[type=checkbox] {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.checkbox-group .checkbox-item label {
  position: relative;
}
.checkbox-group .checkbox-item label::after {
  content: "";
  position: absolute;
  top: auto;
  bottom: -18px;
  left: 0;
  font-size: 15px;
  color: #888;
  width: 300px;
}
.checkbox-group .checkbox-item label.whole::after {
  content: "獨享整間房源";
}
.checkbox-group .checkbox-item label.shared::after {
  content: "房源或飯店內的獨立客房，以及部分共用空間";
}
.checkbox-group .checkbox-item label.independent::after {
  content: "可能要和他人共用的就寢空間和公共區域";
}

.quantity-filter {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.quantity-filter h4 {
  font-weight: 600;
  font-size: 18px;
}
.quantity-filter .button-group {
  display: flex;
  justify-content: space-between;
  width: 85%;
  overflow-x: scroll;
}
.quantity-filter .button-group::-webkit-scrollbar {
  display: none;
}
.quantity-filter .button-group .btn {
  padding: 10px 20px;
  border-radius: 25px;
}
@media (max-width: 768px) {
  .quantity-filter .button-group .btn {
    padding: 6px 12px;
  }
}

.room-type-group {
  display: flex;
  justify-content: space-between;
}
.room-type-group .room-type {
  width: 22%;
  border: 1px solid rgba(150, 150, 150, 0.5);
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.room-type-group .room-type:hover {
  border: 1px solid #000;
}
.room-type-group .room-type .img-box {
  height: 32px;
  width: 32px;
  margin: 10px;
}
.room-type-group .room-type span {
  font-weight: 600;
}

.supply-service,
.accessibility-service {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 20px;
}
.supply-service h4,
.accessibility-service h4 {
  font-weight: 600;
  font-size: 18px;
}

.switch-group.room-type {
  font-size: 18px;
}
.switch-group.room-type label {
  position: relative;
}
.switch-group.room-type label::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  font-size: 15px;
  color: #888;
  width: 300px;
}
.switch-group.room-type label.order-now::after {
  content: "無需等待房東批准即可預訂的房源";
}
.switch-group.room-type label.help-self::after {
  content: "抵達後可輕鬆進入房源";
}

.btn-link {
  cursor: pointer;
  text-decoration: underline;
  color: #000;
  font-weight: 600;
}

.btn:focus {
  color: #000;
  box-shadow: unset;
}
.btn:active:focus {
  box-shadow: unset;
}

.owner {
  font-size: 18px;
}
.owner label {
  position: relative;
}
.owner label::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  font-size: 15px;
  color: #888;
  width: 300px;
}
.owner label.great-owner::after {
  content: "向獲得認可的房東租住房源";
}
.owner label.plus::after {
  content: "品質卓越、風格獨具的嚴選房源系列";
}

.switch-item {
  display: flex;
  justify-content: space-between;
  padding: 0;
  height: 46px;
  margin: 16px 0;
}

.footer-section {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  border-top: 1px solid rgba(150, 150, 150, 0.5);
}

.lightbox {
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
}
.lightbox .lightbox-container {
  width: 80%;
  max-width: 800px;
  max-height: 85vh;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow-y: overlay;
  transform: translate(-50%, -50%);
}
.lightbox .lightbox-container .title-section {
  border-bottom: 1px solid rgb(184, 184, 184);
  height: 64px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightbox .lightbox-container .title-section .btn-close {
  position: absolute;
  left: 24px;
  top: 12px;
  height: 24px;
}
.lightbox .lightbox-container .title-section h2 {
  font-size: 18px;
  font-weight: 600;
}
.lightbox .lightbox-container .group-section {
  padding: 10px;
  min-height: 160px;
  border-bottom: 1px solid rgb(184, 184, 184);
}
.lightbox .lightbox-container .per-wishlist {
  height: 84px;
  width: 100%;
  display: flex;
  margin: 10px;
  cursor: pointer;
  align-items: center;
}
.lightbox .lightbox-container .per-wishlist > p {
  display: block;
  font-weight: 600;
  margin: auto;
  margin-left: 0;
}
.lightbox .lightbox-container .per-wishlist .img-box {
  height: 64px;
  width: 64px;
  margin-right: 15px;
  border-radius: 10px;
  overflow: hidden;
}
.lightbox .lightbox-container .per-wishlist .img-box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}
.lightbox .lightbox-container .input-container .new-wishlist-input {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid rgba(141, 141, 141, 0.7);
  position: relative;
}
.lightbox .lightbox-container .input-container::after {
  content: "最多50字元";
  font-size: 12px;
  color: #777;
}
.lightbox .lightbox-container .button-section {
  padding: 20px;
}
.lightbox .lightbox-container .button-section .btn-create {
  padding: 10px;
  cursor: pointer;
}
.lightbox .lightbox-container .button-section .disabled {
  cursor: not-allowed;
}

.lightbox .lightbox-container {
  max-width: 600px;
}
.lightbox.filter .lightbox-container {
  max-width: 800px;
}
@media (max-width: 768px) {
  .lightbox.filter .lightbox-container {
    max-width: unset;
    width: 100%;
    top: 470px;
  }
}

.leaflet-container .product-link {
  color: #000;
  width: 100%;
  height: 100%;
  padding: 13px 19px;
  display: block;
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-content {
  margin: 0;
}

.bg-linear {
  background-image: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
}

header {
  margin-bottom: 40px;
}

footer {
  margin-top: 40px;
}

h1, h2, h3, h4, h5, h6, p span,
tt, td, a {
  font-family: "Noto Serif TC", serif;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
header ul {
  margin-bottom: 0;
  padding-left: 0;
}
header a:hover {
  color: #000;
}

.header-wrap {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .menu > li + li {
  margin-left: 16px;
}

header .logo-wrap {
  width: 33.3333%;
}
header .logo-wrap .logo {
  width: 100px;
}

header .toggle-bar {
  display: none;
}

header .toggle-menu {
  width: 66.6666%;
}

header .menu > li:hover {
  background-color: #ddd;
}

header .main,
header .menu li {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 12px;
  border-radius: 12px;
}

header .dropdownbox {
  position: relative;
  box-sizing: border-box;
}
header .dropdownbox:hover ul {
  display: block;
}

header .dropdownbox ul {
  border-radius: 12px;
  box-sizing: border-box;
  display: none;
  position: absolute;
  z-index: 99;
  background-color: #fff;
  border: 1px solid #000;
  top: 100%;
  right: 0;
  width: 200px;
}

header .dropdownbox ul > li {
  padding: 16px;
}

header .dropdownbox ul > li:hover {
  background-color: #ddd;
}

@media screen and (max-width: 768px) {
  .toggle-menu {
    display: none;
  }
  .toggle-menu-active {
    display: block;
  }
  .header-wrap {
    position: relative;
  }
  header .toggle-bar {
    display: block;
  }
  header .toggle-menu {
    background-color: #fff;
    z-index: 99;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
  }
  header .dropdownbox {
    position: static;
  }
  header .dropdownbox ul {
    position: static;
    width: 100%;
  }
  header .menu li + li {
    margin-left: 0px;
  }
  header .menu > li:last-child:hover {
    background-color: #fff;
  }
  header .dropdownbox ul {
    border: none;
  }
  .aside2 li {
    margin-left: 12px;
  }
}
footer {
  background-color: #f6f6f6;
}

.footer-top {
  padding: 48px 0;
  border-bottom: 1px dashed #888;
}

.footer-top p,
.footer-bottom p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

.footer i {
  font-size: 14px;
}

.footer-top a {
  margin-top: 16px;
}

.footer-top a,
.footer-bottom a {
  font-size: 14px;
  line-height: 20px;
}
.footer-top a:hover,
.footer-bottom a:hover {
  color: #888;
}

.footer-bottom {
  padding: 48px 0;
}
.footer-bottom i {
  margin-right: 8px;
}

.footer-bottom .bfa a::before {
  content: "・";
}

.footer-bottom .social {
  margin-left: 16px;
}
.footer-bottom .social i {
  display: block;
  font-size: 16px;
}
.footer-bottom .social i:last-child {
  margin-right: 0;
}

@media screen and (max-width: 769px) {
  .footer-top > div + div {
    border-top: 1px dotted #888;
    padding-top: 16px;
  }
  .footer-top {
    padding: 48px 0 0;
  }
}
body {
  position: relative;
}

.search-box {
  cursor: pointer;
}

.date-type-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
}
.date-type-header #check-label {
  position: relative;
  width: 300px;
  background-color: #e8e8e8;
  border-radius: 75px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 0;
}
.date-type-header #check-label span {
  position: absolute;
  left: 0;
  width: 175px;
}
.date-type-header #check-label #check-type {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.date-type-header #check-label #check-type:checked ~ text {
  color: #000;
  background-color: #e8e8e8;
}
.date-type-header #check-label #check-type:checked ~ text:last-child {
  color: #000;
  background-color: #fff;
}
.date-type-header #check-label text {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  background-color: #fff;
  margin: 0 5px;
  padding: 5px 15px;
  border-radius: 75px;
  width: 45%;
  text-align: center;
}
.date-type-header #check-label text:last-child {
  color: #000;
  background-color: #e8e8e8;
}

#calendar {
  width: 800px;
  padding: 20px;
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translate(-51%);
  border-radius: 20px;
  background-color: #fff;
  justify-content: center;
}
#calendar .body-container {
  justify-content: center;
}
#calendar .calendar-container {
  margin: auto;
  width: auto;
}
#calendar .calendar-container .header {
  display: flex;
  height: 40px;
}
#calendar .calendar-container .header > i {
  top: 10px;
}
#calendar .calendar-container .header > h3 {
  font-weight: 600;
}
#calendar * {
  font-size: 1.2rem;
}
#calendar tr {
  display: table-row;
  text-align: center;
}
#calendar th,
#calendar td {
  position: relative;
  height: 46px;
  width: 46px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  padding: 0;
}
#calendar .date {
  cursor: pointer;
}
#calendar .left-month {
  width: 50%;
  position: relative;
}
#calendar .left-month .left-month-display {
  display: block;
  margin: auto;
}
#calendar .left-month .last-month-btn {
  position: absolute;
}
#calendar .left-month .md-next {
  display: none;
}
@media (max-width: 768px) {
  #calendar .left-month .md-next {
    display: block;
    position: absolute;
    right: 0;
  }
}
#calendar .right-month {
  width: 50%;
  position: relative;
}
@media (max-width: 900px) {
  #calendar .right-month {
    display: none;
  }
}
#calendar .right-month .right-month-display {
  display: block;
  margin: auto;
}
#calendar .right-month .next-month-btn {
  position: absolute;
  right: 0;
  top: 0;
}
#calendar .label-date {
  text-align: left;
}
#calendar .calender {
  background-color: #fff;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  padding-top: 0px;
}
#calendar .btn-month {
  border: none;
  background-color: #fff;
}
#calendar .calender-heading {
  margin: auto;
  height: 3rem;
  align-items: center;
}
#calendar .day {
  width: 48px;
  font-size: 16px;
  height: unset;
}
#calendar .table-date {
  table-layout: fixed;
  margin: auto;
}
@media (max-width: 768px) {
  #calendar .table-date {
    width: 100%;
  }
}
#calendar .date-num {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  line-height: 44px;
  box-sizing: border-box;
  border: 1px solid rgba(102, 102, 102, 0);
}
#calendar .date-num:hover {
  border: 1px solid #666;
}
#calendar .unselectable {
  color: #777;
}
#calendar .today {
  font-size: 2rem;
  font-weight: 600;
  color: 41;
}
@media (max-width: 768px) {
  #calendar .container {
    flex-wrap: wrap;
  }
}
#calendar .container div .selected {
  background-color: rgba(109, 188, 155, 0.5960784314);
  color: #000;
}
#calendar .container div .selected::after {
  content: "";
  -webkit-clip-path: polygon(100% 0%, 0% 0%, 65% 35%, 100% 100%);
          clip-path: polygon(100% 0%, 0% 0%, 65% 35%, 100% 100%);
  background-color: red;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
}

.location-area {
  width: 800px;
  padding: 20px;
  padding-top: 50px;
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translate(-51%);
  border-radius: 20px;
  background-color: #fff;
  flex-direction: row;
}
@media (max-width: 768px) {
  .location-area {
    width: 100%;
    left: 0;
    transform: translate(0);
    border-radius: 0;
    flex-direction: column;
    padding: 20px;
  }
}
.location-area .recent-container {
  width: 40%;
  height: 400px;
  border-right: 1px solid #e8e8e8;
}
@media (max-width: 768px) {
  .location-area .recent-container {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 420px) {
  .location-area .recent-container {
    display: none;
  }
}
.location-area .recent-container h3 {
  font-size: 16px;
  font-weight: 600;
}
.location-area .recent-container .per-record-box {
  cursor: pointer;
  width: 100%;
  display: flex;
  padding: 8px 12px;
}
.location-area .recent-container .per-record-box .icon-box {
  -webkit-box-pack: center;
  -webkit-box-align: center;
  font-size: 20px;
  background-color: rgb(235, 235, 235);
  border-radius: 12px;
  min-width: 48px;
  height: 48px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.location-area .recent-container .per-record-box .info-box h4 {
  font-size: 18px;
  margin: 0;
}
.location-area .recent-container .per-record-box .info-box p {
  font-size: 15px;
  margin: 0;
}
.location-area .region-container {
  width: 60%;
  padding: 0 30px;
}
@media (max-width: 900px) {
  .location-area .region-container {
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  .location-area .region-container {
    width: 100%;
  }
}
.location-area .region-container h3 {
  font-size: 16px;
  font-weight: 600;
}
.location-area .region-container .region-box-group {
  padding: 15px;
}
@media (max-width: 768px) {
  .location-area .region-container .region-box-group {
    width: 100%;
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
}
.location-area .region-container .region-box-group .region-box {
  cursor: pointer;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .location-area .region-container .region-box-group .region-box {
    width: auto;
  }
}
.location-area .region-container .region-box-group .region-box:hover .img-box {
  border: 1px solid #000;
}
.location-area .region-container .region-box-group .region-box .img-box {
  height: 122px;
  width: 122px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #e8e8e8;
  margin-bottom: 10px;
}
.location-area .region-container .region-box-group .region-box .img-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.location-area .region-container .region-box-group .region-box h3 {
  font-weight: 400;
}

.traveler-area {
  padding: 16px 32px;
  width: 400px;
  position: absolute;
  top: 170px;
  left: 50%;
  border-radius: 20px;
  background-color: #fff;
}
@media (max-width: 768px) {
  .traveler-area {
    left: 0;
    border-radius: 0;
    width: 100%;
  }
}
.traveler-area .counting-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding: 24px 0;
}
.traveler-area .counting-section:last-child {
  border: 0;
}
.traveler-area .counting-section .info-box h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}
.traveler-area .counting-section .info-box p {
  margin: 0;
  color: #333;
  font-weight: 200;
  font-size: 15px;
}
.traveler-area .counting-section .function-box {
  display: flex;
  padding: 10px 0;
}
.traveler-area .counting-section .function-box > * {
  margin: 0 10px;
}
.traveler-area .counting-section .function-box .display-counter {
  font-size: 22px;
  line-height: 38px;
}
.traveler-area .counting-section .function-box .btn {
  border-radius: 19px;
  border: 1px solid #999;
}
.traveler-area .counting-section .function-box .btn:hover {
  border: 1px solid #000;
}
.traveler-area .counting-section .function-box .btn.disabled {
  border: 1px solid rgb(187, 187, 187);
  cursor: not-allowed;
}

.btn-group {
  height: 48px;
  width: 350px;
  border-radius: 24px;
  box-shadow: 0 5px 40px rgba(150, 150, 150, 0.5);
}
.btn-group .btn {
  border: 1px solid #b9b9b9;
  padding: 0;
}
.btn-group .btn span {
  width: 100%;
  display: block;
  font-weight: 600;
  font-size: 15px;
}
.btn-group .btn .info-sub {
  font-weight: 200;
}
.btn-group .location-btn {
  height: 100%;
  width: 100px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  border-right: 0;
}
.btn-group .date-btn {
  height: 100%;
  width: 100px;
  border-left: 0;
  border-right: 0;
}
.btn-group .traveler-btn {
  height: 100%;
  width: 100px;
  border-right: 0;
  border-left: 0;
  position: relative;
}
.btn-group .search-btn {
  width: 50px;
  border-left: 0;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
}
.btn-group .search-btn i {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  color: #fff;
  background-color: #eb4c60;
}

header {
  position: relative;
  z-index: 5;
}
header .logo-wrap {
  width: auto;
}
header .toggle-menu {
  width: auto;
}
@media (max-width: 900px) {
  header {
    margin-bottom: 0;
  }
  header .container {
    max-width: unset;
    padding: 0 30px;
  }
}

.r-line {
  border-right: 1px solid #a0a0a0;
}

@media (max-width: 900px) {
  .search-bar {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .search-bar {
    display: none;
  }
}

.search-bar-container {
  position: absolute;
  z-index: 5;
  opacity: 1;
  top: 95px;
  left: 50%;
  transform: translate(-50%);
  margin: auto;
  width: 85%;
  max-width: 800px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 10px;
  border-radius: 36px;
  background-color: #fff;
  border: 1px solid #a0a0a0;
}
@media (max-width: 768px) {
  .search-bar-container {
    width: 100%;
    top: 79px;
    border: 0;
    border-radius: 0;
    justify-content: space-around;
    height: 100px;
  }
}
@media (max-width: 420px) {
  .search-bar-container {
    height: 65px;
  }
}
.search-bar-container.before {
  width: 350px;
  height: 45px;
  overflow: hidden;
  position: absolute;
  top: 18px;
  opacity: 0;
  z-index: -1;
  padding-left: 40px;
}
.search-bar-container .not-clicked {
  background-color: #dddddd;
}
.search-bar-container h2 {
  display: block;
  font-size: 15px;
  margin: 0;
}
.search-bar-container input {
  display: block;
  border: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
}
@media (max-width: 768px) {
  .search-bar-container input {
    width: 100px;
  }
}
.search-bar-container input:focus-visible {
  border: 0;
  outline: 0;
}
.search-bar-container input:target {
  outline: 0;
}
.search-bar-container p {
  margin: 0;
}
.search-bar-container .search-box {
  padding: 5px 20px;
}
@media (max-width: 540px) {
  .search-bar-container .search-box p {
    display: none;
  }
}
.search-bar-container .search-box .info-sub {
  color: #333;
  font-weight: 200;
}
.search-bar-container .search-box.loc-box {
  width: 40%;
}
@media (max-width: 900px) {
  .search-bar-container .search-box.loc-box {
    width: auto;
  }
}
@media (max-width: 540px) {
  .search-bar-container .search-box.loc-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.search-bar-container .search-box.date-box {
  padding-left: 20px;
  padding-right: 40px;
}
@media (max-width: 768px) {
  .search-bar-container .search-box.date-box {
    padding-right: 20px;
  }
}
@media (max-width: 540px) {
  .search-bar-container .search-box.date-box {
    padding: 0;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 15%;
  }
}
@media (max-width: 540px) {
  .search-bar-container .search-box.traveler-box {
    padding: 0;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 15%;
  }
}
.search-bar-container .search-btn {
  padding: 0;
}
.search-bar-container .search-btn:hover {
  color: unset;
  background-color: unset;
  border-color: rgba(255, 255, 255, 0);
}
.search-bar-container .search-btn i {
  height: 42px;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  color: #fff;
  background-color: #eb4c60;
}

.md-btn-container {
  display: none;
}
.md-btn-container .search-btn {
  padding: 0;
}
.md-btn-container .search-btn:hover {
  color: unset;
  background-color: unset;
  border-color: rgba(255, 255, 255, 0);
}
.md-btn-container .search-btn i {
  height: 42px;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  color: #fff;
  background-color: #eb4c60;
}
@media (max-width: 768px) {
  .md-btn-container {
    display: block;
  }
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}

.full-container {
  position: relative;
  padding-bottom: 40px;
}

.container-set {
  position: relative;
  max-width: 1400px;
  margin: auto;
  padding: 0 60px;
}
@media (max-width: 768px) {
  .container-set {
    padding: 20px;
  }
}
.container-set .category-btn {
  border: 0;
}
.container-set .category-content {
  font-size: 12px;
  opacity: 0.5;
  transition: 0.3s;
}
.container-set .category-content:hover {
  opacity: 1;
}
.container-set .category-content .icon-container {
  padding: 10px;
  padding-bottom: 0;
}

.title-section h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 200;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 18px;
}

.swiper.img-swiper {
  height: 100%;
}

.swiper-button-next:after {
  content: "";
  left: 42%;
  top: 100%;
  width: 0;
  height: 0;
  clear: both;
  opacity: 0;
  transition: 0.3s;
  border-left: 16px solid #e8e8e8;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}

.swiper-button-prev:after {
  content: "";
  left: 42%;
  top: 100%;
  width: 0;
  height: 0;
  clear: both;
  opacity: 0;
  transition: 0.3s;
  border-right: 16px solid #e8e8e8;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}

.swiper-pagination-bullet {
  background-color: rgb(230, 230, 230);
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: rgb(245, 245, 245);
}

.swiper-category {
  width: 90%;
}
@media (max-width: 768px) {
  .swiper-category {
    width: 75%;
  }
}
@media (max-width: 420px) {
  .swiper-category {
    width: 100%;
  }
}

.button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 420px) {
  .button-container {
    display: none;
  }
}
.button-container .filter-button {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.329);
  transition: 0.3s;
  border-radius: 12px;
  margin: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  min-width: 92px;
  height: 48px;
  color: #222;
  display: flex;
  align-items: center;
}
.button-container .filter-button:hover {
  border: 1px solid #222;
}

.item-section .card-container {
  position: relative;
}
.item-section .card-container:hover .swiper-button-prev:after,
.item-section .card-container:hover .swiper-button-next:after {
  opacity: 1;
}
.item-section .like-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  left: auto;
  right: 20px;
  z-index: 2;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  transition: color 0.5s;
}
.item-section .like-btn:hover {
  color: #ff708a;
}
.item-section .like-btn.like-check {
  color: #ff385c;
}
.item-section .img-box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  aspect-ratio: 20/19;
  margin-bottom: 12px;
}
.item-section .img-box.great-owner-marker::after {
  content: "超讚房東";
  padding: 3px 5px;
  position: absolute;
  left: 12px;
  top: 12px;
  width: auto;
  background-color: #fff;
  z-index: 1;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}
.item-section .img-box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}
.item-section .info-group .info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}
.item-section .info-group .info span {
  display: block;
  line-height: 19px;
  font-weight: 600;
}
.item-section .info-group .info span:last-child {
  position: absolute;
  left: auto;
  right: 0;
}
.item-section .info-group .info .info-sub {
  color: #333;
  font-weight: 200;
}
.item-section .info-group .info .item-price {
  margin-top: 5px;
}

.btn-map {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  width: 125px;
  height: 45px;
  border-radius: 30px;
  top: auto;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  background-color: #222;
  color: #e8e8e8;
  z-index: 4;
}
@media (max-width: 768px) {
  .btn-map {
    display: none;
  }
}
.btn-map:hover, .btn-map:active {
  background-color: #e8e8e8;
}
.btn-map:focus {
  background-color: #222;
  color: #fff;
}
.btn-map > * {
  font-weight: 600;
  display: block;
  margin: 0;
}

.map-section {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: -100vw;
  z-index: 3;
  transition: 0.5s ease-in-out;
}
.map-section.show {
  left: 0;
}

#map {
  height: 100%;
  width: 100%;
}

footer {
  margin-top: 0;
  padding-top: 30px;
}
footer .footer-bottom {
  padding: 15px 0;
}/*# sourceMappingURL=Index.css.map */