@import '../Index/light_box';
@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin phone {
  @media (max-width: 420px) {
    @content;
  }
}
body {
  position: relative;
}

.date-type-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
  #check-label {
    position: relative;
    width: 300px;
    background-color: #e8e8e8;
    border-radius: 75px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0;
    span {
      position: absolute;
      left: 0;
      width: 175px;
    }
    #check-type {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      &:checked ~ text {
        color: #000;
        background-color: #e8e8e8;
      }
      &:checked ~ text:last-child {
        color: #000;
        background-color: #fff;
      }
    }
    text {
      display: block;
      font-size: 15px;
      font-weight: 600;
      color: #000;
      background-color: #fff;
      margin: 0 5px;
      padding: 5px 15px;
      border-radius: 75px;
      width: 45%;
      text-align: center;
      &:last-child {
        color: #000;
        background-color: #e8e8e8;
      }
    }
  }
}
#calendar {
  width: 800px;
  padding: 20px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 20px;
  background-color: #fff;
  .calendar-container {
    margin: auto;
    width: auto;
    .header {
      display: flex;
      height: 40px;
      & > i {
        top: 10px;
      }
      & > h3 {
        font-weight: 600;
      }
    }
  }
  * {
    font-size: 1.2rem;
  }
  tr {
    display: table-row;
    text-align: center;
  }
  th,
  td {
    position: relative;
    height: 46px;
    width: 46px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
  }
  .date {
    cursor: pointer;
  }
  .left-month {
    width: 50%;
    position: relative;
    .left-month-display {
      display: block;
      margin: auto;
    }
    .last-month-btn {
      position: absolute;
    }
  }
  .right-month {
    width: 50%;
    position: relative;
    .right-month-display {
      display: block;
      margin: auto;
    }
    .next-month-btn {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .label-date {
    text-align: left;
  }
  .calender {
    background-color: #fff;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    padding-top: 0px;
  }
  .btn-month {
    border: none;
    background-color: #fff;
  }
  .calender-heading {
    margin: auto;
    height: 3rem;
    align-items: center;
  }
  .day {
    width: 48px;
    font-size: 16px;
    height: unset;
  }

  .table-date {
    table-layout: fixed;
    margin: auto;
    @include pad {
      width: 100%;
    }
  }
  .date-num {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    line-height: 44px;
    box-sizing: border-box;
    border: 1px solid rgba(102, 102, 102, 0);
    &:hover {
      border: 1px solid #666;
    }
  }

  .unselectable {
    color: #777;
  }
  .today {
    font-size: 2rem;
    font-weight: 600;
    color: red($color: #2998d8);
  }
  .container {
    @include pad {
      flex-wrap: wrap;
    }
    div .selected {
      background-color: #6dbc9b98;
      color: #000;
      &::after {
        content: '';
        clip-path: polygon(100% 0%, 0% 0%, 65% 35%, 100% 100%);
        background-color: red;
        width: 1rem;
        height: 1rem;
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
      }
    }
  }
}
.location-area {
  width: 800px;
  padding: 20px;
  padding-top: 50px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 20px;
  background-color: #fff;
  .recent-container {
    width: 40%;
    height: 400px;
    border-right: 1px solid #e8e8e8;
    h3 {
      font-size: 16px;
      font-weight: 600;
    }
    .per-record-box {
      cursor: pointer;
      width: 100%;
      display: flex;
      padding: 8px 12px;
      .icon-box {
        -webkit-box-pack: center;
        -webkit-box-align: center;
        font-size: 20px;
        background-color: rgb(235, 235, 235);
        border-radius: 12px;
        min-width: 48px;
        height: 48px;
        margin-right: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .info-box {
        h4 {
          font-size: 18px;
          margin: 0;
        }
        p {
          font-size: 15px;
          margin: 0;
        }
      }
    }
  }
  .region-container {
    width: 60%;
    padding: 0 30px;
    h3 {
      font-size: 16px;
      font-weight: 600;
    }
    .region-box-group {
      padding: 15px;
      .region-box {
        cursor: pointer;
        margin-bottom: 20px;
        &:hover .img-box {
          border: 1px solid #000;
        }
        .img-box {
          height: 122px;
          width: 122px;
          border-radius: 20px;
          overflow: hidden;
          border: 1px solid #e8e8e8;
          margin-bottom: 10px;

          img {
            width: 100%;
            object-fit: cover;
          }
        }
        h3 {
          font-weight: 400;
        }
      }
    }
  }
}
.passenger-area {
  padding: 16px 32px;
  width: 400px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 20px;
  background-color: #fff;
  .counting-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(200 , 200 , 200 );
    padding:24px 0;
    &:last-child{
        border: 0;
    }
    .info-box {
      h3 {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
      }
      p {
        margin: 0;
        color: #333;
        font-weight: 200;
        font-size: 15px;
      } 
    }
    .function-box {
      display: flex;
      padding: 10px 0;
      & > * {
        margin: 0 10px;
      }
      .display-counter {
        font-size: 22px;
        line-height: 38px;
      }
      .btn {
        border-radius: 19px;
        border: 1px solid #999;
        &:hover{
            border: 1px solid #000;
        }
        &.disabled {
            border: 1px solid rgb(187, 187, 187);
          cursor: not-allowed;
        }
      }
    }
  }
}
