@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: #f5f5f5;
}
* {
  text-decoration: none;
}
.head-box {
  width: 1200px;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid gray;
  box-sizing: border-box;
}

.logo-box {
  width: 100px;
  padding-left: 20px;
  margin: 0 10px;
  margin-right: 5px;
}
.logo {
  padding: auto 0;
  color: #d0011b;
  border-right: 1px solid gray;
  height: 40%;
  font-size: 1.2em;
}
.icons {
  width: 900px;
  display: flex;
}
.icon-item {
  display: flex;
  align-items: center;
  align-self: center;
}
.icon-item img {
  height: 1em;
  margin-left: 5px;
}

.icon-item p {
  font-size: 1em;
  font-weight: 200;
  color: black;
  display: flex;
  vertical-align: middle;
  

  margin: 0;
  margin-right: 3px;
}
.search-all {
  width: 160px;
  margin-right: 5px;
}
.search-all a {
  float: right;
  display: flex;
  color: #d0011b;
  font-size: 15px;
  font-weight: 200;
  align-items: center;
}
.search-all img {
  height: 20px;
}
.search-all p {
  display: inline-block;
  margin-right: 5px;
}

/* 下半 */

.content {
  width: 1200px;
  height: 500px;
  margin: auto;
  display: flex;
  box-sizing: content-box;
  text-align: center;

  background-color: white;
}
.main-Item {
  width: 400px;
  margin-top: 8px;
  margin-left: 3px;
}
.main-Item img {
  width: 100%;
}
.item-box {
  margin: 20px;
  margin-left: 6px;
  width: 794px;
  display: flex;
  flex-wrap: wrap;
}
.item {
  height: 250px;
  width: 157.5px;
  margin: auto;
  align-items: center;
}
.item-text {
  position: relative;
  top: -30px;
  text-align: center;
  color: #d0011b;
}
.item img {
  width: 100%;
}
