@import '../_common/common';
@import '../Index/filter';
@import '../Index/light_box';
@import '../_common/map_custom';

@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin pad-h {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin phone {
  @media (max-width: 600px) {
    @content;
  }
}
a {
  text-decoration: none;
  color: #000;
  &:hover {
    color: #000;
  }
}
$init-width: 40%;
.full-container{
  position: relative;
}
.container-set {
  position: relative;
  padding: 0 20px;
  width: 50%;
  height: calc(100vh - 121px);
  overflow-y: scroll;
  left: 0;
  transition: 0.5s;
  &.close {
    left: -50%;
  }
  @include pad() {
    padding: 20px;
    padding-top: 0;
    width: 100%;
  }
  .btn-hide-products {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    right: -66px;
    z-index: 10;
    background-color: #fff;
    transform: rotateZ(180deg);
    &.close {
      transform: rotateZ(0deg);
    }
    &:hover {
      background-color: #e8e8e8;
      border: 0;
    }
    &:active,
    &:focus {
      border: 0;
    }
  }
}
.head-section {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  .btn-container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .wishlist-name {
    font-size: 2rem;
  }
}

//swiper
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 18px;
}
.swiper.img-swiper {
  height: 100%;
}
@mixin swiper-button {
  content: '';
  left: 42%;
  top: 100%;
  width: 0;
  height: 0;
  clear: both;
  opacity: 0;
  transition: 0.3s;
  @include pad {
    opacity: 1;
  }
}
.swiper-button-next:after {
  @include swiper-button;
  border-left: 16px solid #e8e8e8;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}
.swiper-button-prev:after {
  @include swiper-button;
  border-right: 16px solid #e8e8e8;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}
.swiper-pagination-bullet {
  background-color: rgb(230, 230, 230);
  &.swiper-pagination-bullet-active {
    background-color: rgb(245, 245, 245);
  }
}

.item-section {
  .card-container {
    position: relative;
    padding: 15px 0;
    border-bottom: 1px solid rgba(150, 150, 150, 0.5);
    @include pad-h() {
      border-bottom: 0;
    }
    &:hover {
      .swiper-button-prev:after,
      .swiper-button-next:after {
        opacity: 1;
      }
    }
  }
}
.card-contain {
  display: flex;
  height: 200px;
  @include pad-h {
    padding: 0 10px;
    height: auto;
    display: block;
  }
}
.like-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  left: auto;
  right: 20px;
  z-index: 2;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  transition: color 0.5s;
  &:hover {
    color: #ff708a;
  }
  &.like-check {
    color: #ff385c;
  }
}
.img-box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 450px;
  aspect-ratio: 20/19;
  height: unset;
  @include pad-h {
    width: unset;
  }
  @include pad {
    height: 50vh;
    width: 100%;
  }
  &.great-owner-marker::after {
    content: '超讚房東';
    padding: 3px 5px;
    position: absolute;
    left: 12px;
    top: 12px;
    width: auto;
    background-color: #fff;
    z-index: 1;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
  }
  &.hot-product-marker::after {
    content: '搶手房源';
    padding: 3px 5px;
    position: absolute;
    left: 12px;
    top: 12px;
    width: auto;
    background-color: #fff;
    z-index: 1;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 400;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }
}
.info-group {
  padding-left: 15px;
  width: 100%;
  @include pad-h() {
    padding-left: 0;
  }
  .info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
    width: 100%;
    & > *,
    span {
      display: block;
      line-height: 19px;
      font-weight: 600;
      padding: 5px;
      &.item-rate {
        position: absolute;
        left: 0;
        bottom: 0;
        @include pad-h() {
          position: relative;
          order: -1;
        }
      }
    }
    .item-loc {
      overflow: hidden;
      text-overflow: ellipsis;
      @media (max-width: 1400px) {
        width: 230px;
      }
      @include pad-h() {
        width: unset;
      }
    }
    .item-name {
      padding-bottom: 10px;
      position: relative;
      font-size: 1rem;
      &::after {
        content: '';
        position: absolute;
        left: 5px;
        bottom: 0;
        height: 1px;
        width: 50px;
        border-bottom: 1px solid rgba($color: #888, $alpha: 0.5);
      }
    }
    .info-sub {
      color: #333;
      font-weight: 200;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .item-price {
      margin-top: 5px;
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 20px;
      @include pad-h() {
        margin: 0;
        position: relative;
      }
    }
    .more-info {
      display: flex;
      @include pad-h() {
        display: none;
      }
    }
  }
}
.map-section {
  display: block;
  position: absolute;
  height: calc(100vh - 121px);
  width: 50%;
  top: 0;
  right: 0%;
  z-index: 3;
  transition: 0.5s ease-in-out;
  background-color: #888;
  @include pad {
    display: none;
  }
  &.full-width {
    width: 100%;
  }
}
#map {
  width: 100%;
  height: 100%;
}
.set-wishlist {
  .lightbox-container {
    width: 50%;
    max-width: 400px;
  }
}
.button-section.change-name {
  display: flex;
  justify-content: flex-end;
}
