:root {
    /*文字色*/
    --primary: #6d8cbc;
    --secondary: #7d9ab8;
    --info: #89849a;

    --background: #eeedec;

    /* 底線，裝飾性顏色 */
    --grown: #c59b89;
    --gray: #c4c8d0;

    /* 版型 */
    --light-brown: #d7bdaf;
    --light-blue: #acb9cf;
    --light-pink: #cda59d;
  }
  body {
    background-color: var(--background);
  }

  * {
    font-family: 'Noto Serif TC', serif;
  }
  .mb-16 {
    margin-bottom: 16px;
  }

  .button {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    background-color: var(--primary);
    border: 1px solid var(--primary);
  }
  .title {
    font-family: 'Noto Serif TC', serif;
    font-weight: 900;
    line-height: 1.5em;
    font-size: 36px;
    letter-spacing: 1.8px;
    color: var(--primary);
  }

  .sub-title {
    font-family: 'Noto Serif TC', serif;
    line-height: 1.5em;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: var(--secondary);
  }

  .third-subtitle {
    font-family: 'Noto Serif TC', serif;
    line-height: 1.5em;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.2px;
    color: var(--info);
  }
  p,
  h4,
  h5,
  h6,
  span,
  .text {
    font-family: 'Noto Serif TC', serif;
    line-height: 1.5em;
    font-size: 16px;
    letter-spacing: 1.2px;
    color: var(--info);
  }
  img {
    max-width: 100%;
    vertical-align: bottom;
  }
  .bg-A {
    background-color: var(--light-blue);
  }
  .bg-B {
    background-color: var(--light-brown);
  }
  .bg-C {
    background-color: var(--light-pink);
  }