body {
  background-color: #eeedec;
}

* {
  font-family: "Noto Serif TC", serif;
}

.mb-16 {
  margin-bottom: 16px;
}

.button {
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 16px;
  color: #fff;
  text-align: center;
  background-color: #6d8cbc;
  border: 1px solid #6d8cbc;
}

.title {
  font-family: "Noto Serif TC", serif;
  font-weight: 900;
  line-height: 1.5em;
  font-size: 48px;
  letter-spacing: 1.8px;
  color: #6d8cbc;
}

.sub-title {
  font-family: "Noto Serif TC", serif;
  line-height: 1.5em;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #7d9ab8;
}

.third-subtitle {
  font-family: "Noto Serif TC", serif;
  line-height: 1.5em;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 1.2px;
  color: #89849a;
}

p,
h4,
a,
h5,
h6,
span,
.text {
  font-family: "Noto Serif TC", serif;
  line-height: 1.5em;
  font-size: 16px;
  letter-spacing: 1.2px;
  color: #89849a;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.bg-A {
  background-color: #acb9cf;
}

.bg-B {
  background-color: #d7bdaf;
}

.bg-C {
  background-color: #cda59d;
}

a {
  text-decoration: none;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
@media (max-width: 768px) {
  section {
    padding-bottom: 2rem;
  }
}

.side-section {
  width: 20%;
  min-width: 250px;
  height: 100%;
  padding-top: 5%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: #688bc1;
  transition: 0.5s;
}
.side-section button {
  padding: 10px 10px;
}
.side-section > * {
  width: 80%;
}
@media (max-width: 768px) {
  .side-section {
    left: -100%;
  }
}

.group-user .box-img-user {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  border: 7px solid #acb9cf;
}
.group-user .box-img-user .img-user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.group-user .name-user {
  font-size: 3em;
  color: #eeedec;
}
.group-user .gender-user {
  color: #eeedec;
}

.nav-user ul {
  padding: 0;
}
.nav-user ul li {
  padding: 5px 0;
}
.nav-user ul li .button {
  background-color: #eeedec;
  color: #6d8cbc;
  display: block;
  margin: auto;
  transition: 0.5s;
  width: 100%;
  box-sizing: border-box;
  font-weight: 800;
}
.nav-user ul li .button:hover {
  color: #6f6a81;
  background-color: #90a8cc;
  border: 1px solid #90a8cc;
}
.nav-user ul li .like-btn-nav,
.nav-user ul li .cart-btn-nav {
  background-color: #cda59d;
  border: #cda59d solid 1px;
  width: 100%;
  transition: 0.3s;
}
.nav-user ul li .like-btn-nav *,
.nav-user ul li .cart-btn-nav * {
  display: block;
  margin: 0;
  transition: 0.3s;
}
.nav-user ul li .like-btn-nav i,
.nav-user ul li .cart-btn-nav i {
  color: #eeedec;
  padding-right: 2px;
  width: 15%;
}
.nav-user ul li .like-btn-nav p,
.nav-user ul li .cart-btn-nav p {
  font: 1em sans-serif;
  color: #eeedec;
  font-weight: 800;
}
.nav-user ul li .like-btn-nav:hover,
.nav-user ul li .cart-btn-nav:hover {
  background-color: #dec4bf;
  border: #dec4bf solid 1px;
}
.nav-user ul li .like-btn-nav:hover *,
.nav-user ul li .cart-btn-nav:hover * {
  color: #eeedec;
}

.main-container {
  padding: 0 5rem;
  width: 80%;
  margin-left: auto;
}
@media (max-width: 768px) {
  .main-container {
    width: 100%;
    padding: 0;
    margin-left: 0;
  }
}

section.profile h2,
section.profile h3,
section.profile span {
  display: inline-block;
  text-transform: capitalize;
}
section.profile h2 span {
  font-size: 2rem;
  color: #c59b89;
  font-weight: 800;
}
section.profile h3 {
  font-size: 1.5rem;
}
section.profile .heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  margin: 0 6rem;
  padding: 1rem;
  border-bottom: 1px solid #c4c8d0;
}
section.profile .sub-title {
  margin: 3rem auto;
  width: 80%;
}

.home-section {
  width: 80%;
  margin: auto;
}
.home-section h3 {
  margin-bottom: 0;
}
.home-section .opening-home {
  font-size: 2rem;
}
.home-section .intro-home {
  font-family: "Noto Serif TC", serif;
  color: #89849a;
  padding-bottom: 18px;
  font-size: 3rem;
}
.home-section .intro-home span {
  font-size: 3rem;
}
.home-section .full-intro-home * {
  line-height: 2rem;
  font-size: 1.5rem;
}

.about-section .container-about {
  width: 80%;
  margin: auto;
  margin-top: 0;
}
@media (max-width: 768px) {
  .about-section .container-about {
    width: auto;
  }
}
.about-section .info-about {
  width: auto;
}
@media (max-width: 768px) {
  .about-section .info-about {
    justify-content: space-evenly;
  }
}
.about-section .info-about p {
  width: auto;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .about-section .info-about p {
    white-space: nowrap;
    text-align: center;
    width: 50%;
  }
}
.about-section .info-about span {
  font-size: 1.2rem;
  color: #b47e67;
}
.about-section .group-box-about {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .about-section .group-box-about {
    width: 100%;
  }
}
.about-section .group-box-about .box-about {
  width: 280px;
  padding-bottom: 100px;
  background: #e2e0df;
  text-align: center;
  padding: 2%;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.about-section .group-box-about .box-about * {
  color: #6f6a81;
}
.about-section .group-box-about .third-subtitle {
  font-size: 1.5rem;
  color: #b47e67;
}
.about-section .group-box-about .third-subtitle span {
  font-size: 1.5rem;
  color: #b47e67;
}

.album-section .box-album {
  width: 23%;
  min-width: 275px;
  height: 360px;
  margin: 5px 15px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 768px) {
  .album-section .box-album {
    width: 90%;
  }
}
.album-section .box-album .img-album {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}
.album-section .box-album .img-album:hover {
  transform: scale(1.2);
}

.booking-section * {
  font-size: 1.2rem;
}
.booking-section tr {
  display: table-row;
  text-align: center;
}
.booking-section th,
.booking-section td {
  position: relative;
  height: 3vw;
  width: 4vw;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}
.booking-section .label-date-booking {
  text-align: left;
}
.booking-section .calender-booking {
  background-color: #fff;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  padding-top: 0px;
}
.booking-section .btn-month {
  border: none;
  background-color: #fff;
}
.booking-section .calender-heading-booking {
  margin: auto;
  height: 3rem;
  align-items: center;
}
.booking-section .calender-heading-booking i {
  color: #6d8cbc;
}
.booking-section .day-booking {
  border-bottom: 1px solid #c4c8d0;
  height: 2vw;
}
.booking-section .table-date-booking {
  table-layout: fixed;
}
.booking-section .selectable:hover {
  background-color: #acb9cf;
  color: #fff;
  cursor: pointer;
}
.booking-section .unselectable {
  color: #c4c8d0;
}
.booking-section .today {
  font-size: 2rem;
  font-weight: 600;
  color: #6d8cbc;
}
@media (max-width: 768px) {
  .booking-section .container-booking {
    flex-wrap: wrap;
  }
}
.booking-section .container-booking div .selected {
  background-color: rgba(109, 188, 155, 0.5960784314);
  color: #000;
}
.booking-section .container-booking div .selected::after {
  content: "";
  -webkit-clip-path: polygon(100% 0%, 0% 0%, 65% 35%, 100% 100%);
          clip-path: polygon(100% 0%, 0% 0%, 65% 35%, 100% 100%);
  background-color: red;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
}
.booking-section .group-time-booking {
  width: 30%;
}
@media (max-width: 768px) {
  .booking-section .group-time-booking {
    width: 100%;
  }
}
.booking-section .box-time-booking {
  color: #eeedec;
  position: relative;
  background-color: #89849a;
  transition: 0.5s;
  width: 40%;
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
  text-align: center;
}
.booking-section .box-time-booking:hover {
  background-color: #acb9cf;
  cursor: pointer;
}
.booking-section .cart-btn-profile {
  margin-top: 20px;
  color: #eeedec;
  transition: 0.5s;
  width: 50%;
}
.booking-section .cart-btn-profile:hover {
  background-color: #acb9cf;
}
@media (max-width: 768px) {
  .booking-section {
    text-align: center;
  }
}/*# sourceMappingURL=profile.css.map */