<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <script src="https://kit.fontawesome.com/7b6352651c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>VarieGated</title>
</head>

<body>

<a href="#head">
    <div class="go-top">
        <i class="fa-solid fa-chevron-up"></i>
    </div>
</a>

    <!-- header -->
    <div class="header" id="head">

        <div class="info-list">
            <p>
                Call us:
                <a href="tel:+3(800) 2345-6789">
                    <span class="hover-pink">
                        +3(800) 2345-6789
                    </span>
                </a>
            </p>
            <p>7 Days a week from 9:00 am to 7:00 pm</p>
        </div>

        <ul class="panel-list">
            <li class="dollar box">
                <a href="#">
                    <div class="dollar-select">USD, $</div>
                    <i class="fa-solid fa-chevron-down"></i>
                </a>
                <div class="pink-underline"></div>
            </li>
            <li class="cart box">
                <a href="#">
                    <div class="cart-icon">
                        <div class="cart-counter">0</div>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </a>
                <div class="pink-underline"></div>
            </li>
            <li class="login box">
                <a href="#">Login</a>
                <div class="pink-underline"></div>
            </li>
            <li class="search-group box">
                <input type="search" placeholder="Search...">
                <button class="icon hover-pink">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </li>
        </ul>

    </div>
    <!-- nav -->
    <div class="nav-row">
        <div class="nav-container">

            <div class="logo-box">
                <img src="logo.webp" alt="VarieGated Logo">
            </div>

            <div class="menu-container">
                <ul class="menu-list .hover-pink">
                    <li>
                        <a href="#">
                            <p>HOME</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p>ABOUT</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p>FEATURES</p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p>BLOG</p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p>SHOP</p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p>MORE</p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="sns-container">
                <a href="#" class="sns-link">
                    <div class="sns-icon">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                </a>
                <a href="#" class="sns-link">
                    <div class="sns-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </a>
                <a href="#" class="sns-link">
                    <div class="sns-icon">
                        <i class="fa-brands fa-google"></i>
                    </div>
                </a>
                <a href="#" class="sns-link ">
                    <div class="sns-icon">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <!-- sales event-->

    <section class="salesEvent">
        <div class="salesEvent-container">

            <div class="salesEvent-text">

                <div class="discount-value">
                    <p>-20% SALE</p>
                </div>
                <h3>
                    BE A CHERRY ON PIE
                    <br>
                    IN ANY SITUATION
                </h3>
                <div class="straight-line"></div>
                <p>
                    Experiment, mix and showcase colors, textures and styles!
                    <br>
                    Be yourself and impress others!
                </p>
                <a href="#"">
                    <i class=" fa-solid fa-arrow-right"></i>
                    <p>Read More</p>
                </a>
            </div>

            <div class="salesEvent-image">
                <img src="slider1.webp" alt="Be a Cherry on Pie
                in Any Situation">
            </div>
        </div>
        <div class="salesEvent-background-color"></div>
    </section>
    <section class="other-discount">
        <ul class="discount-list">
            <li class="discount-box">
                <h4>FREE STANDARD DELIVERY</h4>
                <p>on order over $49</p>
            </li>
            <li class="discount-box">
                <h4>30% OFF 100’S PANTYS</h4>
                <p>use code: pantyup 30</p>
            </li>
            <li class="discount-box">
                <h4>20% STUDENT DISCOUNT PLUS</h4>
                <p>free next day delivey, excludes sale.</p>
            </li>
        </ul>
    </section>

    <!-- Shop Categories -->

    <section>
        <div class="shopCategories-Container">
            <h2 class="vice-title">SHOP CATEGORIES</h2>
            <ul class="shopCategories-item-list">
                <li class="shopCategories-item">
                    <a href="#">
                        <img src="./pic/shop categories/1.jpg" alt="">
                        <div class="topic">
                            <div class="straight-line"></div>
                            <h3>
                                Blazers
                            </h3>
                        </div>
                    </a>
                </li>
                <li class="shopCategories-item">
                    <a href="#">
                        <img src="./pic/shop categories/2.jpg" alt="">
                        <div class="topic">
                            <div class="straight-line"></div>
                            <h3>
                                Dresses
                            </h3>
                        </div>
                    </a>
                </li>
                <li class="shopCategories-item">
                    <a href="#">
                        <img src="./pic/shop categories/3.jpg" alt="">
                        <div class="topic">
                            <div class="straight-line"></div>
                            <h3>
                                Jumpsuits
                            </h3>
                        </div>
                    </a>
                </li>
                <li class="shopCategories-item ">
                    <a href="#">
                        <img src="./pic/shop categories/4.jpg" alt="">
                        <div class="topic">
                            <div class="straight-line"></div>
                            <h3>
                                New Arrival
                            </h3>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="shopCategories-item-background">
            </div>
        </div>
    </section>

    <!-- favourite-blouses -->

    <section class="favourite-blouses">
        <div class="favourite-blouses-media-container">
            <img src="./pic/570x470.webp" alt="favourite blouses picture">
            <div class="image-shadow"> </div>
        </div>
        <div class="favourite-blouses-text-container">
            <div class="favourite-blouses-text-items">
                <h2>
                    FAVOURITE <br>
                    BLOUSES
                </h2>
                <p>
                    Our new favourite blouses are defined by great all-over patterns and special details. Our new
                    favourite blouses are defined by great all-over patterns and special details.
                </p>
                <a href="">
                    <div class="link-btn">
                        <p>SHOP NOW</p>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <!-- MOST RECENT POPULAR MODELS -->
    <section>
        <div class="most-recent-container">
            <div class="most-recent-title">
                <h2>MOST RECENT POPULAR MODELS</h2>
            </div>
            <ul class="most-recent-list">

                <li class="most-recent-item">
                    <a href="">
                        <div class="most-recent-img-container">
                            <img src="./pic/most recent/1.jpg" alt="blazer jumpsuits">
                            <div class="image-cover">
                                <div class="icon">
                                    <i class="fa-solid fa-heart"></i>
                                    <i class="fa-solid fa-scale-balanced"></i>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                            </div>
                        </div>
                        <div class="most-recent-text-container">
                            <h4>BLAZER JUMPSUITS</h4>
                            <h3>BUTTONED SHIRT</h3>
                            <p>59.00$</p>
                            <div class="link-btn">
                                <p>SELECT OPTION</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="most-recent-item">
                    <a href="">
                        <div class="most-recent-img-container">
                            <div class="feature-box">
                                <p>Feature</p>
                            </div>
                            <img src="./pic/most recent/2.jpg" alt="Checked Tunic">
                            <div class="image-cover">
                                <div class="icon">
                                    <i class="fa-solid fa-heart"></i>
                                    <i class="fa-solid fa-scale-balanced"></i>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                            </div>
                        </div>
                        <div class="most-recent-text-container">
                            <h4>TROUSERS-SHORTS BLAZERS DRESSES</h4>
                            <h3>CHECKED TUNIC</h3>
                            <p>69.00$</p>
                            <div class="link-btn">
                                <p>SELECT OPTION</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="most-recent-item">
                    <a href="">
                        <div class="most-recent-img-container">
                            <div class="feature-box">
                                <p>Feature</p>
                            </div>
                            <img src="./pic/most recent/3.jpg" alt="embroidered shirt">
                            <div class="image-cover">
                                <div class="icon">
                                    <i class="fa-solid fa-heart"></i>
                                    <i class="fa-solid fa-scale-balanced"></i>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                            </div>
                        </div>
                        <div class="most-recent-text-container">
                            <h4>TROUSER-SHORTS BLAZERS DRESSES JUMPSUITS NEW ARRIVAL</h4>
                            <h3>EMBROIDERED SHIRT</h3>
                            <p>36.00$</p>
                            <div class="link-btn">
                                <p>SELECT OPTION</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="most-recent-item">
                    <a href="">
                        <div class="most-recent-img-container">
                            <img src="./pic/most recent/4.jpg" alt="Faux Leather Jacket With Flowing Lapels">
                            <div class="image-cover">
                                <div class="icon">
                                    <i class="fa-solid fa-heart"></i>
                                    <i class="fa-solid fa-scale-balanced"></i>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                            </div>
                        </div>
                        <div class="most-recent-text-container">
                            <h4>TROUSER-SHORTS BLAZERS NEW ARRIVAL</h4>
                            <h3>FAUX LEATHER JACKET WITH FLOWING LAPELS</h3>
                            <p>96.00$</p>
                            <div class="link-btn">
                                <p>SELECT OPTION</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="most-recent-item">
                    <a href="">
                        <div class="most-recent-img-container">
                            <div class="feature-box">
                                <p>Feature</p>
                            </div>
                            <img src="./pic/most recent/5.jpg" alt="Lightweight Jacket">
                            <div class="image-cover">
                                <div class="icon">
                                    <i class="fa-solid fa-heart"></i>
                                    <i class="fa-solid fa-scale-balanced"></i>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                            </div>
                        </div>
                        <div class="most-recent-text-container">
                            <h4>TROUSER-SHORTS BLAZERS DRESSES JUMPSUITS</h4>
                            <h3>LIGHTWEIGHT JACKET</h3>
                            <p>54.00$</p>
                            <div class="link-btn">
                                <p>SELECT OPTION</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="most-recent-item">
                    <a href="">
                        <div class="most-recent-img-container">
                            <img src="./pic/most recent/6.jpg" alt="Polka Dot Dress">
                            <div class="image-cover">
                                <div class="icon">
                                    <i class="fa-solid fa-heart"></i>
                                    <i class="fa-solid fa-scale-balanced"></i>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                            </div>
                        </div>
                        <div class="most-recent-text-container">
                            <h4>TROUSER-SHORTS DRESSES</h4>
                            <h3>POLKA DOT DRESS</h3>
                            <p>66.00$</p>
                            <div class="link-btn">
                                <p>SELECT OPTION</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="most-recent-item">
                    <a href="">
                        <div class="most-recent-img-container">
                            <img src="./pic/most recent/7.jpg" alt="Ripped Denim Jacket">
                            <div class="image-cover">
                                <div class="icon">
                                    <i class="fa-solid fa-heart"></i>
                                    <i class="fa-solid fa-scale-balanced"></i>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                            </div>
                        </div>
                        <div class="most-recent-text-container">
                            <h4>TROUSER-SHORTS DRESSES JUMPSUITS</h4>
                            <h3>RIPPED DENIM JACKET</h3>
                            <p>35.00$</p>
                            <div class="link-btn">
                                <p>SELECT OPTION</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="most-recent-item">
                    <a href="">
                        <div class="most-recent-img-container">
                            <div class="feature-box">
                                <p>Feature</p>
                            </div>
                            <img src="./pic/most recent/8.jpg" alt="Suede Effect Dress">
                            <div class="image-cover">
                                <div class="icon">
                                    <i class="fa-solid fa-heart"></i>
                                    <i class="fa-solid fa-scale-balanced"></i>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                            </div>
                        </div>
                        <div class="most-recent-text-container">
                            <h4>TROUSER-SHORTS DRESSES JUMPSUITS</h4>
                            <h3>SUEDE EFFECT DRESS</h3>
                            <p>89.00$</p>
                            <div class="link-btn">
                                <p>SELECT OPTION</p>
                            </div>
                        </div>
                    </a>
                </li>

            </ul>

        </div>
    </section>
    <!-- MODERN CASUAL -->

    <section class="modern-casual">
        <div class="modern-casual-group">
            <div class="modern-casual-item">
                <h2>
                    DAILY DEALS
                </h2>
            </div>
            <div class="modern-casual-item">
                <h1>
                    MODERN CASUAL
                    <br>
                    ESSENTIALS
                </h1>
            </div>
            <div class="modern-casual-item">
                <a href="">
                    <div class="link-btn">
                        <p>SHOP NOW</p>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <!-- latest from blog -->

    <section class="latest-from-blog">
        <div class="blog-title">
            <h2>
                LATEST FROM BLOG
            </h2>
        </div>
        <ul class="blog-list">
            <li class="blog-item-container">
                <div class="blog-item-img-container">
                    <img src="./pic/latest from blog/1.jpg" alt="When In Doubt, Wear Rose Pumps">
                </div>
                <div class="blog-item-text-container">
                    <a href="">
                        <h3 class="hover-pink">
                            WHEN IN DOUBT, WEAR ROSE PUMPS
                        </h3>
                    </a>
                    <p>
                        It’s always a good idea to invest in a good pair of nude pumps. It’s a timeless wardrobe staple
                        just…
                    </p>
                    <p>
                        <a href="">
                            <span >22 February, 2018</span>
                        </a> - post by 
                        <a href="">
                            <span>admin</span>
                        </a>
                    </p>
                </div>
            </li>
            <li class="blog-item-container">
                <div class="blog-item-img-container">
                    <img src="./pic/latest from blog/2.jpg" alt="hem your pants for a shoe height">
                </div>
                <div class="blog-item-text-container">
                    <a href="">
                        <h3 class="hover-pink">
                            HEM YOUR PANTS FOR A SHOE HEIGHT
                        </h3>
                    </a>
                    <p>
                        A mistake many people make is wearing pants (or dresses) that are too long or too short for their shoes.…
                    </p>
                    <p>
                        <a href="">
                            <span >22 February, 2018</span>
                        </a> - post by 
                        <a href="">
                            <span>admin</span>
                        </a>
                    </p>
                </div>
            </li>
        </ul>
    </section>

    <!-- subscribe -->

    <section class="subscribe">
        <div class="subscribe-container">
            <div class="subscribe-container-text">
                <h2>
                    GET THE LATEST NEWS DELIVERED DAILY!
                </h2>
            </div>
            <div class="subscribe-input-container">
                <input type="email" class="input-email" placeholder="PLEASE ENTER YOUR EMAIL">
                <div class="subscribe-btn link-btn">
                    <p>SUBSCRIBE</p>
                </div>
            </div>
        </div>
    </section>
    <section class="instagram">
        <h2>@INSTAGRAM</h2>
    </section>

    <!-- footer -->

    <footer>
        <section class="link-area">
        <div class="footer-link-container">
                <ul class="link-list">
                    <h5 class="link-list-title">
                        CATEGORIES
                    </h5>
                    <a href="">
                        <li class="link-item">
                            <p>Help & Contact Us</p>
                        </li>
                    </a>
                    <a href="">
                        <li class="link-item">
                            <p>Returns & Refunds</p>
                        </li>
                    </a>
                    <a href="">
                        <li class="link-item">
                            <p>Online Stores</p>
                        </li>
                    </a>
                    <a href="">
                        <li class="link-item">
                            <p>Terms & Conditions</p>
                        </li>
                    </a>
                </ul>
                <ul class="link-list">
                    <h5 class="link-list-title">
                        OUR STORE
                    </h5>
                    <a href="">
                        <li class="link-item">
                            <p>About</p>
                        </li>
                    </a>
                    <a href="">
                        <li class="link-item">
                            <p>Shop</p>
                        </li>
                    </a>
                    <a href="">
                        <li class="link-item">
                            <p>Contacts</p>
                        </li>
                    </a>
                    <a href="">
                        <li class="link-item">
                            <p>Blog</p>
                        </li>
                    </a>
                </ul>
                <ul class="link-list">
                    <h5 class="link-list-title">
                        PROFILE
                    </h5>
                    <a href="">
                        <li class="link-item">
                            <p>Checkout</p>
                        </li>
                    </a>
                    <a href="">
                        <li class="link-item">
                            <p>My account</p>
                        </li>
                    </a>
                    <a href="">
                        <li class="link-item">
                            <p>Order tracking</p>
                        </li>
                    </a>
                    <a href="">
                        <li class="link-item">
                            <p>Help & support</p>
                        </li>
                    </a>
                </ul>
                <ul class="link-list">
                    <h5 class="link-list-title">
                        ABOUT US
                    </h5>
                        <li class="link-item unlink">
                            <p>Variegated is the place where everyone can is able to find some clothing called to highlight one’s individuality! We are waiting right for you!</p>
                        </li>                   
                </ul>

        </div>
    </section>

    <section class="copyright-area"></section>
        <div class="footer-copyright-container">
            <div class="copyright-text">
                <i class="fa-solid fa-copyright"></i>
                2022 Variegated. All Rights Reserved.
            </div>

            <div class="sns-container">
                <a href="#" class="sns-link">
                    <div class="sns-icon">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                </a>
                <a href="#" class="sns-link">
                    <div class="sns-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </a>
                <a href="#" class="sns-link">
                    <div class="sns-icon">
                        <i class="fa-brands fa-google"></i>
                    </div>
                </a>
                <a href="#" class="sns-link ">
                    <div class="sns-icon">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </a>
            </div>

        </div>
    </footer>

</body>

</html>