@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
h1,
h2,
h3,
h4,
h5,
p,
span {
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
}
body {
  background-color: #fefefe;
}
section {
  height: 100%;
}
.item {
  width: 100%;
}
.title-box {
  width: 100%;
}
.title {
  display: flex;
  background-color: #bb0404;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.title h2 {
  display: flex;
  font-weight: 200;
  color: #fff;
  font-size: 45px;
  line-height: 1.2;
  align-items: center;
}
.title span {
  display: inline-block;
  transform: rotate(90deg);
  font-size: 55px;
  line-height: 1.2;
  margin: -10px -5px;
}
.item:nth-child(2n) .title {
  flex-direction: row-reverse;
}
.item:nth-child(2n) h2 {
  flex-direction: row-reverse;
}

.info {
  margin: 0;
  padding: 10px;
  font-size: 18px;

  background-color: #000;
  box-sizing: border-box;
}
.info h3 {
  font-weight: 400;
  color: #fff;
  line-height: 200%;
}
.info p {
  color: #fff;
  font-weight: 200;
  text-align: left;

  font-size: 0.15em;
  line-height: 170%;
}
.car-media {
  position: relative;
}
.car-media .car-pic {
  width: 100%;

  display: block;
}
.play-video .play-icon {
  width: calc(50px / 1.5);
  position: absolute;
  top: 50%;
}
.item:nth-child(even) .play-icon {
  left: 50%;
}
.item:nth-child(odd) .play-icon {
  right: 50%;
}

.new-stuff {
  background-color: #eeeeee;

  padding: 2%;
  padding-bottom: 6%;
  margin: 0 auto;
  font-size: 50px;

  box-sizing: border-box;
  --h3-size: 0.35em;
  --h4-p-size: 0.3em;
}
.new-stuff h3 {
  color: #bc0c0c;

  font-size: var(--h3-size);
  font-weight: 500;
}
.new-stuff div h4 {
  margin: 0;
  background-color: #000;
  padding: 1%;

  display: inline-block;
}
.new-stuff li h4 {
  background-color: #000;
  padding: 1%;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 10px;
}
.new-stuff h4 {
  color: #fff;

  font-size: var(--h4-p-size);
  font-weight: 300;
}

.new-stuff p {
  padding-left: 1em;
  color: #505050;
  font-size: var(--h4-p-size);
  font-weight: 300;
  text-indent: -4px;
  position: relative;
}
.new-stuff p::before {
  display: inline-block;
  content: "";
  height: 0.2em;
  width: 0.2em;
  vertical-align: middle;
  background-color: #bb0404;
  position: relative;
  left: -2px;
}

.new-stuff h3::after {
  display: inline-block;
  content: "";
  height: 0.1em;
  width: 50%;
  vertical-align: middle;
  left: 0.2em;

  background-color: #bb0404;
}

@media screen and (min-width: 768px) {
  .item {
    width: 75%;
    min-width: 768px;
    margin: 2% auto;
    display: flex;
    flex-direction: column;

    position: relative;
  }
  .item:nth-child(even) {
    display: flex;
    align-items: flex-end;
  }
  .title-box {
    width: calc(100% / 3);
    position: relative;
  }
  .item .info {
    position: absolute;
    z-index: 3;
  }

  .car-media {
    width: calc(100% / 3 * 2);
    position: relative;
    margin: auto;
  }
  .item:nth-child(even) .shadow {
    align-self: flex-start;
  }
  .item:nth-child(odd) .shadow {
    align-self: flex-end;
  }
  .item:nth-child(even) .play-icon {
    left: -2%;
  }
  .item:nth-child(odd) .play-icon {
    right: -2%;
  }
  .shadow {
    display: block;
    height: 300px;
    width: 300px;
    background-color: #eeeeee;
    position: absolute;
    top: 20px;
  }
  .new-stuff {
    width: calc(100% / 3 * 2);
    position: relative;
    top: -35px;
    left: -100px;
  }
}
