<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="style.css">
    <title>ShopLine切版</title>
</head>


<body>

    <div class="theme">
        <h3>單一平台就能助你<br>
            在全通路輕鬆開店創業</h3>
        <p>從網路商店架站到實體門市管理，只需要一個平台，就能輕鬆實現開店創業，<br>
            並能同步管理所有銷售管道，SHOPLINE 助你賣得更多、賣得更好！</p>
    </div>
    <div class="content-group">
        <div class="content bottom-line">
            <div class="content text">
                <h3>免寫程式、多款版型<br>
                    輕鬆打造全能電商網站</h3>
                <p>不會寫程式也能輕鬆架設品牌電商官網！任何產業都能找到合適的專業設計版型，以滑鼠拖曳就能完成網頁編輯，讓架設網站就像堆積木一樣簡單。</p>
                <ul>
                    <li>
                        <p>豐富版型主題與字型搭配</p>
                    </li>
                    <li>
                        <p>獨有網址 ＆ SSL 安全憑證</p>
                    </li>
                    <li>
                        <p>一頁商店</p>
                    </li>
                    <li>
                        <p>RWD 響應式網頁設計</p>
                    </li>
                    <li>
                        <p>SEO 搜尋引擎優化</p>
                    </li>
                    <li>
                        <p>開放 HTML／CSS 編輯</p>
                    </li>
                </ul>
                <a href="#">看看開店秘技→</a>
            </div>
            <div class="content media">
                <img src="big-img1.webp">
            </div>
        </div>

        <div class="content bottom-line">
            <div class="content text">
                <h3>支持海內外電商<br>
                    金流、物流一次搞定</h3>
                <p>支持在地及國際金流、物流串接服務，提供海內外顧客最便利的付款及送貨服務，加速消費者完成下單交易，大幅降低購物車放棄率！</p>
                <ul>
                    <li>
                        <p>線上信用卡刷卡</p>
                    </li>
                    <li>
                        <p>超商代碼／條碼繳費</p>
                    </li>
                    <li>
                        <p>超商／宅配貨到付款</p>
                    </li>
                    <li>
                        <p>第三方金流／行動支付整合</p>
                    </li>
                    <li>
                        <p>多溫層宅配並指定運費</p>
                    </li>
                    <li>
                        <p>發票開立與串接</p>
                    </li>
                </ul>
                <a href="#">了解更多金物流→</a>
            </div>
            <div class="content media">
                <img src="big-img2.png">
            </div>
        </div>


        <div class="content bottom-line">
            <div class="content text">
                <h3>
                    刺激下單，創造回購<br>
                    行銷導流、促購模組任你玩
                </h3>
                <p>
                    多元優惠活動、會員集客機制、網紅分潤以及直播購物等豐富功能，將電商行銷玩法一網打盡，助你成功優化行銷活動成效，刺激顧客下單、吸引鐵粉回購！
                </p>
                <ul>
                    <li>
                        <p>超過 20 種優惠促銷功能</p>
                    </li>
                    <li>
                        <p>會員分級／點數／購物金</p>
                    </li>
                    <li>
                        <p>Instagram 購物功能</p>
                    </li>
                    <li>
                        <p>社群直播購物系統</p>
                    </li>
                    <li>
                        <p>Facebook／Google／LINE 廣告追蹤</p>
                    </li>
                    <li>
                        <p>Facebook／Instagram／LINE 對話式購物</p>
                    </li>
                </ul>
                <a href="#">看更多優惠模組→</a>
            </div>
            <div class="content media">
                <img src="big-img3.png">
            </div>
        </div>

        <div class="content no-bottom-line">
            <div class="content text">
                <h3>O2O 全通路無縫整併<br>
                    輕鬆管理網店、門市以及其他通路</h3>
                <p>
                    不論是網店拓展門市，還是門市想發展網路生意，從商品、庫存、訂單等各項虛實店舖的資料都能完善整併，輕鬆實現全通路會員經營到多店營運。
                </p>
                <ul>
                    <li>
                        <p>門市 POS 系統</p>
                    </li>
                    <li>
                        <p>門市快速集客工具</p>
                    </li>
                    <li>
                        <p>進銷庫存／調撥／多店管理</p>
                    </li>
                    <li>
                        <p>線上線下會員／商品／庫存整合</p>
                    </li>
                    <li>
                        <p>O2O 即時銷售報表分析</p>
                    </li>
                    <li>
                        <p>串接 Shopee 蝦皮購物庫存</p>
                    </li>
                </ul>
                <a href="#">了解更多全通路整合→</a>
            </div>
            <div class="content media">
                <img src="big-img4.png">
            </div>
        </div>
        <!-- 群組結束 -->

    </div>

    <div class="content-box">
        <h3>更多功能與服務</h3>
        <div class="box-group">
            <div class="item-box">
                <div class="media-box">
                    <div class="media"><img src="Func1.png"></div>
                </div>
                <h5>強大庫存及訂單系統</h5>
                <p>從商品數量、貨況到訂單付款狀態、物流貨態一目瞭然，提升營運效率超有感。</p>
            </div>
            <div class="item-box">
                <div class="media-box">
                    <div class="media"><img src="Func2.png"></div>
                </div>
                <h5>即時化商店業績分析</h5>
                <p>圖表化報表助你一手掌握商店概況，讓數據助攻企業成長，營運策略更有方向。</p>
            </div>
            <div class="item-box">
                <div class="media-box">
                    <div class="media"><img src="Func3.png"></div>
                </div>
                <h5>多國語系、幣值切換</h5>
                <p>想做跨境電商也ＯＫ！提供語言、幣別、稅金等進階功能，友善應對海外消費需求。</p>
            </div>
            <div class="item-box">
                <div class="media-box">
                    <div class="media"><img src="Func4.png"></div>
                </div>
                <h5>專業顧問線上支援</h5>
                <p>迅速、透明的溝通管道，協助你快速解決從線上到線下、從在地到海外的網店疑難。</p>
            </div>
            <div class="item-box">
                <div class="media-box">
                    <div class="media"><img src="Func5.png"></div>
                </div>
                <h5>廣告行銷加值服務</h5>
                <p>由官方認證的專業投手團隊，協助品牌投遞 Facebook、Google、LINE 等廣告。</p>
            </div>
            <div class="item-box">
                <div class="media-box">
                    <div class="media"><img src="Func6.png"></div>
                </div>
                <h5>老闆專屬成長社群</h5>
                <p>致力為品牌店家打造能深度交流且互助的生態體系，是拓展人脈、商機的絕佳場域。</p>
            </div>
        </div>

    </div>
</body>

</html>
<!DOCTYPE html>