@import '../_common/variable';
@import '../_common/header';
@import '../_common/footer';

$cartPadding: 1rem;

body,html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;

}
header,footer{
    flex : 0 0 auto;
}
.container{
    flex-grow: 1;
}
footer{
    width: 100%;
}
h1{
    text-align: center;
    padding: $cartPadding 0 $cartPadding;
}
.changeList{
    padding-top: $cartPadding;
    padding-bottom: $cartPadding;
}
.td-group{
    display: flex;
    padding: $cartPadding 1rem $cartPadding;
    justify-content: space-around;
}
.td-group span{
    display: inline-block;
    font-size: 1.5rem;
}
.accordion{
    padding-top: $cartPadding;
    padding-bottom: $cartPadding;
}
.accordion-button span{
    display: inline-block;
    padding-left: .5rem;
    font-size: 1.5rem;
}
.accordion-button:focus{
    box-shadow: rgb(197, 155, 137);
}
.accordion-button::after {
    position: absolute;
    right: 1rem;
    color: $light-pink;
    
}
.accordion-button{
    display: flex;
    justify-content: space-around;
    // text-align: ;
}
.accordion-button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(197, 155, 137,.25);
}
.accordion-button:not(.collapsed){
    background-color: $light-brown;
}
.accordion-body ol{
    justify-content: space-around;
    padding-left: 0;
    li{
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            font-size: 1.5rem;
        }
    }
    .pay-type{
        flex-direction: column;
    }
}
.detail-img img{
    width: 100%;
    vertical-align: middle;
}




@media screen and(max-width:992px) {
    .accordion-button span{
        font-size: 1rem;
    }
    .accordion-body ol li span{
        font-size: 1rem;
    }
    .td-group span{
        font-size: 1rem;
    }
}
