<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>Google切版</title>
</head>

<body>

    <div class="head-box">
        <div class="head-box-item circle">
            <img src="./dots_white.png" alt="">
        </div>

        <div class="head-box-item">
            <a href="#">圖片</a>
        </div>
        <div class="head-box-item">
            <a href="#">Gmail</a>
        </div>

    </div>


    <div class="logo">

        <img src="./black_logo.png" alt="">

    </div>
    <div class="search-area">
        <input type="search" name="search" placeholder="搜尋google或輸入網址">

        <button class="voice-icon"></button>

    </div>


    <div class="short-cut-items-box">

        <a href="#" class="short-cut-item">
            <div class="icon-area">
                <img src="APP.png" alt="">
            </div>
            <p>線上應用程式</p>
        </a>
        <a href="#" class="short-cut-item">
            <div class="icon-area">
                <img src="./plus.png" alt="加號">
            </div>
            <p>新增捷徑</p>
        </a>

    </div>

</body>

</html>