@charset "UTF-8";
header {
  margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6, p span,
tt, td, a {
  font-family: "Noto Serif TC", serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}

.container-set {
  position: relative;
  padding: 0 20px;
  width: 50%;
}
@media (max-width: 768px) {
  .container-set {
    padding: 20px;
  }
}
.container-set .btn-toggle-area {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  right: -66px;
  z-index: 10;
  background-color: #fff;
}
.container-set .btn-toggle-area.open {
  transform: rotateZ(180deg);
}
.container-set .btn-toggle-area.close {
  transform: rotateZ(0deg);
}
.container-set .btn-toggle-area:hover {
  background-color: #e8e8e8;
  border: 0;
}
.container-set .btn-toggle-area:active, .container-set .btn-toggle-area:focus {
  border: 0;
}

.head-section {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  align-items: center;
}
.head-section h2 {
  display: flex;
  width: auto;
  font-size: 18px;
  font-weight: normal;
}
.head-section .result-display {
  width: 100%;
}
.head-section .button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
@media (max-width: 420px) {
  .head-section .button-container {
    display: none;
  }
}
.head-section .button-container .filter-button {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.329);
  transition: 0.3s;
  border-radius: 12px;
  margin: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  min-width: 92px;
  height: 48px;
  color: #222;
  display: flex;
  align-items: center;
}
.head-section .button-container .filter-button:hover {
  border: 1px solid #222;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 18px;
}

.swiper.img-swiper {
  height: 100%;
}

.swiper-button-next:after {
  content: "";
  left: 42%;
  top: 100%;
  width: 0;
  height: 0;
  clear: both;
  opacity: 0;
  transition: 0.3s;
  border-left: 16px solid #e8e8e8;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}

.swiper-button-prev:after {
  content: "";
  left: 42%;
  top: 100%;
  width: 0;
  height: 0;
  clear: both;
  opacity: 0;
  transition: 0.3s;
  border-right: 16px solid #e8e8e8;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}

.swiper-pagination-bullet {
  background-color: rgb(230, 230, 230);
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: rgb(245, 245, 245);
}

.item-section .card-container {
  position: relative;
}
.item-section .card-container:hover .swiper-button-prev:after,
.item-section .card-container:hover .swiper-button-next:after {
  opacity: 1;
}

.like-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  left: auto;
  right: 20px;
  z-index: 2;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  transition: color 0.5s;
}
.like-btn:hover {
  color: #ff708a;
}
.like-btn.like-check {
  color: #ff385c;
}

.img-box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  aspect-ratio: 20/19;
  margin-bottom: 12px;
}
.img-box.great-owner-marker::after {
  content: "超讚房東";
  padding: 3px 5px;
  position: absolute;
  left: 12px;
  top: 12px;
  width: auto;
  background-color: #fff;
  z-index: 1;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}
.img-box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

.info-group .info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}
.info-group .info span {
  display: block;
  line-height: 19px;
}
.info-group .info span:last-child {
  position: absolute;
  left: auto;
  right: 0;
}
.info-group .info .info-sub {
  color: #333;
  font-weight: 200;
}
.info-group .info .item-price {
  margin-top: 5px;
}

.map-section {
  position: absolute;
  height: 100vh;
  width: 50%;
  top: 0;
  right: 0%;
  z-index: 9;
  transition: 0.5s ease-in-out;
  background-color: #888;
}

#map {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=Search.css.map */