%panel-checked {
  background-color: #000;
  color: #fff;
}

%span-after {
  content: "";
  display: block;
  height: 1px;
  width: 2em;
}
.black-cover {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 19;
  opacity: 0;
  transition: 0.3s;
  display: none;
}
#sidebar-open:checked {
  & ~ .default-nav {
    .nav.container {
      left: 0;
      transition: 0.5s ease-in-out;
    }
  }
}

#sidebar-close:checked {
  & ~ .default-nav {
    .nav.container {
      left: -100%;
      transition: 0.3s ease-in-out;
    }
  }
}

$hb-width: 40px;

@mixin nav-bar {
  height: 80px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  display: flex;
  position: fixed;
  z-index: 20;
  top: 0;
  background-color: #fff;
}
.default-nav {
  @include nav-bar();

  .sidebar-control {
    height: 50%;
    display: flex;
    align-items: center;
    .hb {
      height: 100%;
      width: $hb-width;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;

      span {
        &::after {
          @extend %span-after;
          width: $hb-width;
          background-color: #518432;
        }

        &:nth-child(2)::after {
          width: $hb-width * 0.8;
        }

        &:nth-child(3)::after {
          width: $hb-width * 0.6;
        }
      }
    }
  }
  .logo-img {
    height: 50%;
  }
  .function-container {
    height: 100%;
    display: flex;
    color: #518432;
    align-items: center;
    font-size: 20px;
    width: 10%;
    min-width: 65px;
    justify-content: space-around;
    div {
      margin: 5px;
    }
    .cart {
      position: relative;

      &::before {
        content: "0";
        display: block;
        position: absolute;
        font-size: 17px;
        top: -15px;
        right: 7px;
      }
    }
  }
}

#menu-control:checked {
  & ~ .switch-btn .menu {
    @extend %panel-checked;

    .hb {
      span::after {
        @extend %span-after;
        background-color: #fff;
      }

      span:nth-child(2)::after {
        width: 1.5em;
      }
    }
  }
}

#login-control:checked {
  & ~ .switch-btn .login {
    @extend %panel-checked;
  }

  & ~ .panel {
    .login-container {
      display: block;
    }
    .menu-container {
      display: none;
    }
  }
}

%btn-default {
  display: flex;
  width: 50%;
  height: 60px;
  font-size: 14px;
  background-color: #fff;
}

.nav.container {
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 420px;
  position: fixed;
  top: 0;
  z-index: 20;
  background-color: #fff;
display: flex;
  .panel {
    flex-grow: 1;
    overflow: auto;
  }
}

.switch-btn {
  display: flex;

  .menu {
    @extend %btn-default;

    .control-box {
      & > span {
        padding: 0 15px;
      }

      .hb {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 0 15px;

        span::after {
          @extend %span-after;
          background-color: #000;
        }

        span:nth-child(2)::after {
          width: 1.5em;
        }
      }
    }
  }

  .login {
    @extend %btn-default;
  }

  .control-box {
    justify-content: center;
    margin: auto;
    width: 100%;
    display: flex;

    > span,
    > i {
      font-size: 1.3em;
      display: flex;
      align-items: center;
    }
  }
}

.menu-container {
  .list-topic {
    ul {
      display: none;
    }

    a {
      padding: 0 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .expand {
      text-align: left;
    }
    li:hover {
      & > a {
        color: #88c766;
        i {
          color: #000;
        }
      }
    }
    input:checked {
      & + li {
        & > a {
          color: #88c766;
        }
        ul {
          display: block;
        }
        .expand {
          transform: rotate(90deg);
          transition: 0.5s;
        }
        i {
          color: #88c766;
        }
      }
    }
  }

  .topic {
    & > a {
      display: flex;
      justify-content: space-between;
    }
    padding: 15px;
    .sub-list {
      li {
        padding: 10px 0;
      }

      .list-item::before {
        content: "";
        display: block;
        width: 30%;
        margin-left: 14px;
        height: 1.3px;
        background-color: #518432;
      }
    }
  }
}

.nav.list-topic {
  .topic {
    font-size: 20px;
    font-weight: 500;

    .sub-list {
      font-size: 0.8em;
      font-weight: 400;

      .list-item {
        font-size: 0.8em;
        font-weight: 200;
      }
    }
  }
}

.login-container {
  width: 100%;
  position: unset;
  z-index: 20;
  top: 60px;
  background-color: #fff;
  margin: auto;
  display: none;
  font-size: 20px;

  .login.logo {
    display: none;
  }
  .login-icon {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .input-group {
    width: 80%;
    margin: auto;
    padding-bottom: 30px;

    a {
      font-size: 0.8em;
      font-weight: 400;
    }
  }

  span {
    font-weight: 700;
    display: block;
  }

  i {
    padding: 15px;
    font-size: 45px;
  }

  input {
    display: block;
    width: 100%;
    height: 60px;
    margin: 12px auto;
    padding: 6px;
    border: 1px solid rgba(83, 85, 84, 0.6);
    position: unset;

    & + input {
      margin-bottom: 30px;
    }
  }

  .link-btn {
    height: 60px;
    width: 80%;
    line-height: 60px;
    font-size: 16px;
    margin: auto;
  }

  .register-container {
    text-align: center;

    * {
      margin: 15px 0;
    }

    .or {
      display: flex;
      align-items: center;
      justify-content: center;

      &::after,
      &::before {
        content: "";
        display: block;
        height: 1px;
        width: 40%;
        margin: 0 15px;
        background-color: rgba(0, 0, 0, 0.3);
      }

      span {
        font-weight: 300;
        letter-spacing: 3px;
      }
    }

    i {
      margin: 0;
      padding: 0 10px;
      font-size: 20px;
      font-weight: 600;
    }
  }
}

.close-btn {
  height: 60px;
  width: 100%;
  background-color: #518432;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5em;

}
.control-box.login {
  display: none;
}
@include screen-lg {
  .control-box.login {
    display: block;
  }
  .close-btn{
    display: none;
  }
  .default-nav {
    .function-container {
      color: #000;
      i:hover {
        color: #518432;
      }
    }
  }
  .sidebar-control:hover {
    cursor: pointer;
  }
  #sidebar-open:checked {
    & ~ .black-cover {
      display: block;
      opacity: 1;
    }
  }
  #login-control:checked {
    & ~ .black-cover {
      display: block;
      opacity: 1;
    }
    .close-btn {
      display: none;
    }
  }
}
@include screen-xl {
  .default-nav {
    padding: 0 20px;
    justify-content: space-between;
    .sidebar-control {
      display: none;
    }
    .logo-img {
      position: absolute;
      left: 50%;
    }
  }
  .nav.container {
    position: unset;
    left: 0;
    width: unset;
    max-width: 600px;

    .switch-btn {
      display: none;
    }

    i {
      display: none;
    }
    .panel {
      overflow: unset;
      display: flex;
      align-items: center;
    }
    .menu-container {
      background-color: #fff;
      li:hover {
        & > a {
          color: #88c766;
        }
        ul {
          display: flex;
          flex-wrap: wrap;
        }
        .expand {
          transform: rotate(90deg);
          transition: 0.5s;
        }
        i {
          color: #88c766;
        }
      }
    }
  }
  .nav.list-topic {
    display: flex;
  }
  .login-container {
    position: fixed;
    $login-width: 70%;
    width: $login-width;
    padding-bottom: 50px;
    .login.logo {
      margin: auto;
      display: block;
      width: $login-width;
      padding: 30px 0;
      border-bottom: 1px solid #000;
      img {
        width: 50%;
        margin: auto;
      }
    }
    .register-container {
      .or {
        display: flex;
        align-items: center;
        justify-content: center;

        &::after,
        &::before {
          width: 30%;
        }
      }
    }
    .input-group {
      width: $login-width;
    }
    .link-btn {
      width: $login-width;
    }
  }
  #login-PC {
    &:checked {
      & ~ .nav.container {
        .nav.panel {
          .login-container {
            display: block;
            z-index: 20;
            width: 40%;
            left: 50%;
            transform: translate(-50%);
          }
        }
        .black-cover {
          display: block;
          opacity: 1;
        }
      }
    }
    &:not(:checked) {
      ~ .nav.container {
        .nav.panel {
          .login-container {
            left: 100%;
          }
        }
      }
    }
  }
  .nav.list-topic {
    .topic {
      font-size: 16px;
      font-weight: 500;

      .sub-list {
        font-size: 0.9em;
        font-weight: 400;

        .list-item {
          font-size: 0.9em;
          font-weight: 400;
        }
      }
    }
  }
}
