@media screen and (min-width: 768px) {
  body {
    font-size: 45px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 60px;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
}

a {
  color: #000;
}

img {
  height: 100%;
  vertical-align: top;
}

input {
  position: absolute;
  display: none;
}

label {
  display: block;
  text-align: center;
  cursor: pointer;
}

h1 {
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.link-btn {
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  transition-duration: 0.3s;
  text-align: center;
  letter-spacing: 3px;
}
.link-btn:hover {
  background-color: #518432;
}

*::-moz-placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.2);
}

*:-ms-input-placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.2);
}

*::placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.2);
}
*::-moz-placeholder :active {
  color: rgb(0, 0, 0);
}
*:-ms-input-placeholder :active {
  color: rgb(0, 0, 0);
}
*::placeholder :active {
  color: rgb(0, 0, 0);
}

#login-control:checked ~ .switch-btn .login, #menu-control:checked ~ .switch-btn .menu {
  background-color: #000;
  color: #fff;
}

.switch-btn .menu .control-box .hb span::after, #menu-control:checked ~ .switch-btn .menu .hb span::after, .default-nav .sidebar-control .hb span::after {
  content: "";
  display: block;
  height: 1px;
  width: 2em;
}

.black-cover {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 19;
  opacity: 0;
  transition: 0.3s;
  display: none;
}

#sidebar-open:checked ~ .default-nav .nav.container {
  left: 0;
  transition: 0.5s ease-in-out;
}

#sidebar-close:checked ~ .default-nav .nav.container {
  left: -100%;
  transition: 0.3s ease-in-out;
}

.default-nav {
  height: 80px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  display: flex;
  position: fixed;
  z-index: 20;
  top: 0;
  background-color: #fff;
}
.default-nav .sidebar-control {
  height: 50%;
  display: flex;
  align-items: center;
}
.default-nav .sidebar-control .hb {
  height: 100%;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.default-nav .sidebar-control .hb span::after {
  width: 40px;
  background-color: #518432;
}
.default-nav .sidebar-control .hb span:nth-child(2)::after {
  width: 32px;
}
.default-nav .sidebar-control .hb span:nth-child(3)::after {
  width: 24px;
}
.default-nav .logo-img {
  height: 50%;
}
.default-nav .function-container {
  height: 100%;
  display: flex;
  color: #518432;
  align-items: center;
  font-size: 20px;
  width: 10%;
  min-width: 65px;
  justify-content: space-around;
}
.default-nav .function-container div {
  margin: 5px;
}
.default-nav .function-container .cart {
  position: relative;
}
.default-nav .function-container .cart::before {
  content: "0";
  display: block;
  position: absolute;
  font-size: 17px;
  top: -15px;
  right: 7px;
}

#menu-control:checked ~ .switch-btn .menu .hb span::after {
  background-color: #fff;
}
#menu-control:checked ~ .switch-btn .menu .hb span:nth-child(2)::after {
  width: 1.5em;
}

#login-control:checked ~ .panel .login-container {
  display: block;
}
#login-control:checked ~ .panel .menu-container {
  display: none;
}

.switch-btn .login, .switch-btn .menu {
  display: flex;
  width: 50%;
  height: 60px;
  font-size: 14px;
  background-color: #fff;
}

.nav.container {
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 420px;
  position: fixed;
  top: 0;
  z-index: 20;
  background-color: #fff;
  display: flex;
}
.nav.container .panel {
  flex-grow: 1;
  overflow: auto;
}

.switch-btn {
  display: flex;
}
.switch-btn .menu .control-box > span {
  padding: 0 15px;
}
.switch-btn .menu .control-box .hb {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0 15px;
}
.switch-btn .menu .control-box .hb span::after {
  background-color: #000;
}
.switch-btn .menu .control-box .hb span:nth-child(2)::after {
  width: 1.5em;
}
.switch-btn .control-box {
  justify-content: center;
  margin: auto;
  width: 100%;
  display: flex;
}
.switch-btn .control-box > span,
.switch-btn .control-box > i {
  font-size: 1.3em;
  display: flex;
  align-items: center;
}

.menu-container .list-topic ul {
  display: none;
}
.menu-container .list-topic a {
  padding: 0 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu-container .list-topic .expand {
  text-align: left;
}
.menu-container .list-topic li:hover > a {
  color: #88c766;
}
.menu-container .list-topic li:hover > a i {
  color: #000;
}
.menu-container .list-topic input:checked + li > a {
  color: #88c766;
}
.menu-container .list-topic input:checked + li ul {
  display: block;
}
.menu-container .list-topic input:checked + li .expand {
  transform: rotate(90deg);
  transition: 0.5s;
}
.menu-container .list-topic input:checked + li i {
  color: #88c766;
}
.menu-container .topic {
  padding: 15px;
}
.menu-container .topic > a {
  display: flex;
  justify-content: space-between;
}
.menu-container .topic .sub-list li {
  padding: 10px 0;
}
.menu-container .topic .sub-list .list-item::before {
  content: "";
  display: block;
  width: 30%;
  margin-left: 14px;
  height: 1.3px;
  background-color: #518432;
}

.nav.list-topic .topic {
  font-size: 20px;
  font-weight: 500;
}
.nav.list-topic .topic .sub-list {
  font-size: 0.8em;
  font-weight: 400;
}
.nav.list-topic .topic .sub-list .list-item {
  font-size: 0.8em;
  font-weight: 200;
}

.login-container {
  width: 100%;
  position: unset;
  z-index: 20;
  top: 60px;
  background-color: #fff;
  margin: auto;
  display: none;
  font-size: 20px;
}
.login-container .login.logo {
  display: none;
}
.login-container .login-icon {
  width: 80%;
  margin: auto;
  text-align: center;
}
.login-container .input-group {
  width: 80%;
  margin: auto;
  padding-bottom: 30px;
}
.login-container .input-group a {
  font-size: 0.8em;
  font-weight: 400;
}
.login-container span {
  font-weight: 700;
  display: block;
}
.login-container i {
  padding: 15px;
  font-size: 45px;
}
.login-container input {
  display: block;
  width: 100%;
  height: 60px;
  margin: 12px auto;
  padding: 6px;
  border: 1px solid rgba(83, 85, 84, 0.6);
  position: unset;
}
.login-container input + input {
  margin-bottom: 30px;
}
.login-container .link-btn {
  height: 60px;
  width: 80%;
  line-height: 60px;
  font-size: 16px;
  margin: auto;
}
.login-container .register-container {
  text-align: center;
}
.login-container .register-container * {
  margin: 15px 0;
}
.login-container .register-container .or {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container .register-container .or::after, .login-container .register-container .or::before {
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  margin: 0 15px;
  background-color: rgba(0, 0, 0, 0.3);
}
.login-container .register-container .or span {
  font-weight: 300;
  letter-spacing: 3px;
}
.login-container .register-container i {
  margin: 0;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 600;
}

.close-btn {
  height: 60px;
  width: 100%;
  background-color: #518432;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5em;
}

.control-box.login {
  display: none;
}

@media screen and (min-width: 768px) {
  .control-box.login {
    display: block;
  }

  .close-btn {
    display: none;
  }

  .default-nav .function-container {
    color: #000;
  }
  .default-nav .function-container i:hover {
    color: #518432;
  }

  .sidebar-control:hover {
    cursor: pointer;
  }

  #sidebar-open:checked ~ .black-cover {
    display: block;
    opacity: 1;
  }

  #login-control:checked ~ .black-cover {
    display: block;
    opacity: 1;
  }
  #login-control:checked .close-btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .default-nav {
    padding: 0 20px;
    justify-content: space-between;
  }
  .default-nav .sidebar-control {
    display: none;
  }
  .default-nav .logo-img {
    position: absolute;
    left: 50%;
  }

  .nav.container {
    position: unset;
    left: 0;
    width: unset;
    max-width: 600px;
  }
  .nav.container .switch-btn {
    display: none;
  }
  .nav.container i {
    display: none;
  }
  .nav.container .panel {
    overflow: unset;
    display: flex;
    align-items: center;
  }
  .nav.container .menu-container {
    background-color: #fff;
  }
  .nav.container .menu-container li:hover > a {
    color: #88c766;
  }
  .nav.container .menu-container li:hover ul {
    display: flex;
    flex-wrap: wrap;
  }
  .nav.container .menu-container li:hover .expand {
    transform: rotate(90deg);
    transition: 0.5s;
  }
  .nav.container .menu-container li:hover i {
    color: #88c766;
  }

  .nav.list-topic {
    display: flex;
  }

  .login-container {
    position: fixed;
    width: 70%;
    padding-bottom: 50px;
  }
  .login-container .login.logo {
    margin: auto;
    display: block;
    width: 70%;
    padding: 30px 0;
    border-bottom: 1px solid #000;
  }
  .login-container .login.logo img {
    width: 50%;
    margin: auto;
  }
  .login-container .register-container .or {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-container .register-container .or::after, .login-container .register-container .or::before {
    width: 30%;
  }
  .login-container .input-group {
    width: 70%;
  }
  .login-container .link-btn {
    width: 70%;
  }

  #login-PC:checked ~ .nav.container .nav.panel .login-container {
    display: block;
    z-index: 20;
    width: 40%;
    left: 50%;
    transform: translate(-50%);
  }
  #login-PC:checked ~ .nav.container .black-cover {
    display: block;
    opacity: 1;
  }
  #login-PC:not(:checked) ~ .nav.container .nav.panel .login-container {
    left: 100%;
  }

  .nav.list-topic .topic {
    font-size: 16px;
    font-weight: 500;
  }
  .nav.list-topic .topic .sub-list {
    font-size: 0.9em;
    font-weight: 400;
  }
  .nav.list-topic .topic .sub-list .list-item {
    font-size: 0.9em;
    font-weight: 400;
  }
}
.media-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 40px;
  background-image: url(./pic/background.webp);
  font-size: 0.8em;
  align-items: center;
  margin-top: 80px;
}
.media-container .media-img {
  position: absolute;
  opacity: 0.5;
  right: 1%;
  width: 50%;
}
.media-container .media-img img {
  width: 100%;
  max-height: 444px;
  margin: auto;
}
.media-container .media-text {
  width: 300px;
  margin-left: 15px;
  position: relative;
  z-index: 2;
}
.media-container .media-text h3 {
  font-size: 1.5em;
  line-height: 2;
}
.media-container .media-text p {
  font-size: 1em;
  line-height: 2;
  margin-bottom: 15px;
}
.media-container .media-text .link-btn {
  width: 60%;
  padding: 10px;
  font-size: 0.8em;
  font-weight: 200;
}

.info-container {
  flex-wrap: wrap;
  width: 100%;
  padding: 30px 15px;
  text-align: center;
}
.info-container h2 {
  color: #518432;
  font-size: 0.85em;
  font-weight: 900;
}
.info-container p {
  color: #90928f;
  font-size: 0.5em;
}
.info-container h3 {
  font-size: 0.75em;
  font-weight: 600;
}
.info-container section:not(:first-child) {
  width: 100%;
  text-align: left;
}
.info-container > section:nth-child(1) p {
  font-style: italic;
}
.info-container .text-container {
  display: flex;
  flex-direction: column;
}
.info-container .text-container .info-item {
  text-align: left;
  padding: 15px 0;
}

@media screen and (min-width: 768px) {
  .media-container {
    justify-content: center;
    align-items: center;
  }
  .media-container .media-img {
    width: 30%;
    position: unset;
    opacity: 1;
  }
  .media-container .media-img img {
    aspect-ratio: 1/1;
  }

  .info-container {
    padding: 30px 30px;
  }
}
@media screen and (min-width: 1200px) {
  .media-container .media-img img {
    width: auto;
    height: 100%;
  }

  .info-container .text-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .info-container .text-container section.info-left-box,
.info-container .text-container section.info-right-box {
    width: 33%;
  }
  .info-container .text-container section.info-left-box .info-item {
    text-align: right;
  }
  .info-container .text-container h2 {
    font-size: 1em;
  }
  .info-container .text-container h3 {
    font-size: 0.7em;
  }
  .info-container .title {
    margin: auto;
    padding-bottom: 50px;
    width: 70%;
  }
}
.staff-pick {
  padding-bottom: 30px;
}

.staff.title {
  padding-top: 10px;
  padding-bottom: 25px;
  text-align: center;
  color: #518432;
  font-size: 0.65em;
}

.staff-container {
  text-align: center;
}
.staff-container .sale-icon {
  text-transform: uppercase;
  width: 30%;
  height: 30px;
  background-color: #518432;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 20px 0 20px 0;
  color: #fff;
  align-items: center;
  font-size: 0.4em;
  line-height: 30px;
  z-index: 16;
}
.staff-container .sold-out {
  width: 45%;
  border-radius: 0;
  top: 4%;
  left: 0;
}
.staff-container .img-group {
  position: relative;
}
.staff-container .img-group .item-function {
  background-color: rgba(82, 132, 50, 0.4509803922);
  width: 50%;
  justify-content: space-evenly;
  position: absolute;
  z-index: 15;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: none;
  opacity: 0;
  transition: 0.5s;
}
.staff-container .img-group .item-function span {
  color: #fff;
  display: block;
  font-size: 0.8em;
  transition: 0.3s;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.row h4 {
  font-weight: 700;
  font-size: 0.5em;
  padding-top: 15px;
}
.row h4:hover {
  color: #518432;
}
.row p {
  font-weight: 700;
  font-size: 0.6em;
  padding-bottom: 20px;
}
.row p span {
  text-decoration: line-through;
  font-size: 0.8em;
  padding-right: 5px;
}
.row li {
  display: block;
  position: relative;
}
.row .cols-2 {
  width: 45%;
}
.row .cols-2 img {
  height: auto;
  width: 100%;
}
.row .cols-2 .image-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 11;
  top: 0;
  opacity: 0;
  transition: 0.5s;
}
.row .cols-2 .hover-img {
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  top: 0;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .row {
    max-width: 1400px;
    margin: auto;
  }
  .row .cols-lg-3 {
    width: 30%;
  }
  .row .cols-lg-4 {
    width: 25%;
    padding: 10px 15px;
  }
  .row li > a:hover .item-function {
    display: flex;
    opacity: 1;
  }
  .row li > a:hover .item-function > span:hover {
    color: #518432;
  }
  .row li > a:hover .hover-img, .row li > a:hover .image-cover {
    opacity: 1;
  }

  .staff-container .sold-out {
    width: 30%;
  }
}
.products-container {
  padding: 30px 0;
  position: relative;
  background-image: url(https://cdn.shopify.com/s/files/1/0356/8343/4555/files/bg-video1.jpg?v=1585532362);
  padding-bottom: 0;
}
.products-container::before {
  content: "";
  display: block;
  opacity: 0.6;
  height: 339px;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: -20%;
}
.products-container .product-text {
  width: 100%;
  padding: 0 25px;
  padding-top: 20px;
  text-align: center;
}
.products-container .product-text p {
  display: block;
  font-size: 0.5em;
  line-height: 2;
  margin-bottom: 15px;
}
.products-container .product-text h2 {
  display: block;
  font-size: 0.8em;
  color: #518432;
}
.products-container .product-text a {
  display: block;
  position: relative;
  z-index: 2;
}
.products-container .link-btn {
  font-size: 0.4em;
  width: 40%;
  margin: auto;
  margin-right: 0;
  margin-bottom: 20px;
  line-height: 2;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0);
  outline: 1px solid #000;
  color: #000;
}
.products-container .product-media {
  position: relative;
}
.products-container .product-media span {
  color: #518432;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.products-container #light-box-switch {
  width: 80%;
  margin: auto;
  margin-bottom: 0;
}
.products-container .light-box {
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 50;
}
.products-container .light-box iframe {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

#light-box-on:checked ~ label {
  display: block;
}

#light-box-off:checked ~ label {
  display: none;
}

@media screen and (min-width: 768px) {
  .text-media-contain {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-media-contain h2 {
    font-size: 0.9em;
  }
  .text-media-contain p {
    font-size: 0.7em;
  }
  .text-media-contain .product-text {
    width: 50%;
    padding: 10px;
    padding-left: 70px;
  }
  .text-media-contain .product-text .link-btn {
    position: relative;
    max-width: 150px;
    overflow: hidden;
  }
  .text-media-contain .product-text .link-btn a {
    color: #000;
    transition: 0.5s;
    line-height: 3;
  }
  .text-media-contain .product-text .link-btn::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: #518432;
    position: absolute;
    z-index: -1;
    top: -100%;
    transition: 0.5s;
  }
  .text-media-contain .product-text .link-btn:hover {
    color: #fff;
  }
  .text-media-contain .product-text .link-btn:hover::before {
    top: 0;
  }
  .text-media-contain #light-box-switch {
    width: 50%;
    padding: 25px;
  }

  .products-container .product-media span {
    font-size: 50px;
    color: #fff;
  }
  .products-container .product-media span:hover {
    color: #518432;
  }
  .products-container .light-box iframe {
    width: 60%;
    height: 60%;
  }
}
.instagram-container {
  text-align: center;
  padding: 30px 0;
  font-size: 1.5em;
}
.instagram-container .icon-group h2 {
  font-size: 0.5em;
  font-weight: 500;
  text-transform: uppercase;
}

.ins-container .cols-2.cols-lg-4 {
  position: relative;
  width: 22%;
  padding: unset;
  margin: 10px 0;
}
.ins-container .cols-2.cols-lg-4::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}
.ins-container .cols-2.cols-lg-4:hover::after {
  opacity: 0.5;
}

#footer-container {
  padding: 30px;
  background-color: #f4f4f4;
  text-align: center;
}
#footer-container .logo-img {
  width: 50%;
  margin: auto;
}
#footer-container .logo-img img {
  margin: auto;
}
#footer-container .footer-text {
  padding: 15px 0;
}
#footer-container .footer-text .footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#footer-container .footer-text .footer-list li {
  margin: 5px 15px;
  text-transform: uppercase;
  font-size: 0.3em;
  font-weight: 700;
}
#footer-container .sns {
  display: flex;
  width: 60%;
  justify-content: space-between;
  padding: 20px 0;
  margin: auto;
}
#footer-container .sns .icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5em;
  background-color: #222;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
  position: relative;
}
#footer-container .sns .icon i {
  position: relative;
  z-index: 3;
}
#footer-container .copyright {
  margin-bottom: 30px;
  font-size: 0.4em;
  color: rgba(171, 173, 173, 0.7);
}

@media screen and (min-width: 768px) {
  #footer-container .sns {
    justify-content: center;
  }
  #footer-container .sns .icon {
    width: 50px;
    height: 50px;
    margin: 0 10px;
  }
  #footer-container .sns .icon::after {
    position: absolute;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: #518432;
    top: 100%;
    transition: 0.5s;
  }
  #footer-container .sns .icon:hover {
    outline: 2px solid #222;
  }
  #footer-container .sns .icon:hover::after {
    top: 0;
  }
}/*# sourceMappingURL=style.css.map */