$sm-font-size: 30px;
$lg-font-size: 45px;
$xl-font-size: 60px;

@mixin screen-lg {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin screen-xl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@include screen-lg {
  body {
    font-size: $lg-font-size;
  }
}
@include screen-xl {
  body {
    font-size: $xl-font-size;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: $sm-font-size;
}

a {
  color: #000;
}
img {
  height: 100%;
  vertical-align: top;
}
input {
  position: absolute;
  display: none;
}

label {
  display: block;
  text-align: center;
  cursor: pointer;
}
h1 {
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.link-btn {
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  transition-duration: 0.3s;
  text-align: center;
  letter-spacing: 3px;
  &:hover {
    background-color: #518432;
  }
}
*::placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.2);
  :active {
    color: rgb(0, 0, 0);
  }
}

@import "nav";
@import "media-title";
@import "staff";
@import "products-media";
@import "instagram";
@import "footer";
